<footer class="footer">
	<div class="footer__container">
		<div class="footer__top footer-top">
			<a href="#" class="footer__button-start not">
				<!-- <img src="./img/icons/arrow-top.svg" alt=""> -->
				@@include('../icons/_arrow-top.html')
				<p>Вгору</p>
			</a>
			<div class="footer-top__first">
				<ul class="footer-top__contacts">
					<li>
						<p>Дніпро:</p>
					</li>
					<li>
						<a href="tel:+380000000000">+ 38 (000) 000 00 00</a>
					<li>
						<h5>Квест-кімнати Дніпро:</h5>
					</li>
					<li>
						<div class="footer-top__socials">
							<a class="not" href="#"><i class="instagram"></i></a></i>
							<a class="not" href="#"><i class="facebook"></i></a></i>
							<a class="not" href="#"><i class="youtube"></i></a></i>
						</div>
					</li>
					</li>
				</ul>
				<ul class="footer-top__contacts">
					<li>
						<p>Київ:</p>
					</li>
					<li>
						<a href="tel:+380000000000">+ 38 (000) 000 00 00</a>
					<li>
						<h5>Квест-кімнати Київ:</h5>
					</li>
					<li>
						<div class="footer-top__socials">
							<a class="not" href="#"><i class="instagram"></i></a></i>
							<a class="not" href="#"><i class="facebook"></i></a></i>
							<a class="not" href="#"><i class="youtube"></i></a></i>
						</div>
					</li>
					</li>
				</ul>
				<ul class="footer-top__contacts">
					<li>
						<h5>Квести у коробках Україна:</h5>
					</li>
					<li>
						<div class="footer-top__socials">
							<a class="not" href="#"><i class="instagram"></i></a></i>
							<a class="not" href="#"><i class="facebook"></i></a></i>
							<a class="not" href="#"><i class="youtube"></i></a></i>
						</div>
					</li>
					</li>
				</ul>
				<nav class="footer-top__navigation">
					<ul>
						<li><a href="#">Про нас</a></li>
						<li><a href="#">Акції</a></li>
						<li><a href="#">Франшиза</a></li>
						<li><a href="#">Адреси квест кімнат</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Оплата</a></li>
						<li><a href="#">Контакти </a></li>
					</ul>
				</nav>
			</div>
			<div class="footer-top__second">
				<div class="footer-top__working-time">
					<ul>
						<li>
							<p>ПН-ЧТ до 21:00</p>
						</li>
						<li>
							<p>ПТ- НД до 22:30</p>
						</li>
					</ul>
					<p><span>або до</span> останього бронювання</p>
				</div>
				<div class="footer-top__subscribe">
					<p>Підписуйся на НОВІ СЦЕНАРІЇ ТА АКЦІЇ</p>
					<div>
						<a class="not" href="#"><i class="telegram"></i></a>
						Переходь до нашого <a href="#" class="not">Телеграм</a> каналу
					</div>
				</div>
				<nav class="footer-top__desktop-navigation">
					<ul>
						<li><a href="#">Адреси квест кімнат</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer-top__third">
				<div class="footer-top__proposal">
					<h5>Пропозиції на свята:</h5>
					<ul>
						<li><a href="#">8 Березня для дівчаток</a></li>
						<li><a href="#">Новорічні корпоративи</a></li>
						<li><a href="#">Хелловін</a></li>
					</ul>
				</div>
				<div class="footer-top__proposal">
					<h5>Пропозиції за призначенням:</h5>
					<ul>
						<li><a href="#">Для хлопчиків</a></li>
						<li><a href="#">Для дівчаток</a></li>
						<li><a href="#">Тімбілдінги</a></li>
					</ul>
				</div>
			</div>
		</div>
		<nav class="footer__bottom footer-bottom">
			<ul class="footer-bottom__list">
				<li><a href="#">Політика конведенційності</a></li>
				<li><a href="#">Оферта</a></li>
				<li><a href="#">Відгуки</a></li>
				<li><a href="#">Мапа сайту</a></li>
			</ul>
			<h6 class="footer-bottom__copy">© 2019-2022 “INGAME” Всі права захищені</h6>
		</nav>
	</div>
</footer>