.cards__wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
   @media (max-width: 899px) {
      gap: 9px;
   }
   @media (min-width: 900px) {
      gap: 20px;
   }
   @media (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
   }
}
.card {
   transition: all 1s ease;
   box-shadow: 0px 4px 24px rgba(94, 135, 15, 0.6);
   background-color: lightgrey;
   position: relative;
   overflow: hidden;
   border-bottom: 4px solid $green;
   @media (max-width: 568px) {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
         display: none;
      }
   }
   @media (min-width: 568px) and (max-width: 999px) {
      &:nth-child(5),
      &:nth-child(6) {
         display: none;
      }
   }
   &:hover {
      .card {
         border-bottom: 4px solid rgba(153, 208, 24, 0.9);
         &__content {
            border-left: 4px solid rgba(153, 208, 24, 0.9);
            border-right: 4px solid rgba(153, 208, 24, 0.9);
            top: 0 !important;
            &:before {
               background-color: $green;
               background-color: lightgrey;
               opacity: 0.9;
            }
         }
         &__preview {
            color: $light;
            .card__about {
               // visibility: hidden;
               display: none;
            }

            @media (max-width: 999px) and (min-width: 300px) {
               padding-top: 20px;
               padding-bottom: 21px;
               padding-left: 20px;
               padding-right: 20px;
            }
            @media (min-width: 1000px) {
               padding-top: 56px;
               padding-left: 30px;
               padding-right: 30px;
               padding-bottom: 40px;
            }
         }
         &__title {
            @include fl(24, 32);
            margin-bottom: 4px;
         }
         &__text {
            @include fl(14);
         }
         &__body-wrapper {
            height: auto;
         }
      }
   }
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
   &__content {
      border-left: 4px solid $green;
      border-right: 4px solid $green;
      transition: top 0.9s ease;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:before {
         content: "";
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         background: #fff;
         z-index: 0;
         transition: all 0.5s ease;
         opacity: 1;
      }
   }
   // .card__preview
   &__preview {
      color: $dark;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      > div {
         flex: 0 0 50%;
      }
      padding-top: 21px;
      padding-bottom: 21px;
      padding-left: 13px;
      padding-right: 20px;

      .card__about {
         padding-top: 4px;
         display: grid;
         row-gap: 7px;
         li {
            display: flex;
            align-items: center;
            column-gap: 8px;
            :first-child {
               @media (max-width: 768px) {
                  flex: 0 0 20px;
                  height: 20px;
               }
               @media (min-width: 769px) {
                  flex: 0 0 24px;
                  height: 24px;
               }
            }
            &:nth-child(2) {
               :first-child {
                  align-self: flex-start;
               }
               span {
                  display: inline-block;
                  margin-bottom: 3px;
               }
            }
            span {
               font-weight: 700;
               @include fl(16);
               font-size: 14px;
            }
            p {
               font-weight: 500;
               @include fl(12);
            }
            &:last-child {
               padding-top: 3px;
               i {
                  padding-left: 2px;
                  @include fl(18);
               }
               p {
                  font-family: $ff2;
               }
            }
         }
      }
   }
   &__title {
      padding-top: 3px;
      font-weight: 700;
      margin-bottom: 6px;
      @media (max-width: 374px) {
         @include fl(12);
      }
      @media (max-width: 768px) and (min-width: 375px) {
         @include fl(14);
      }
      @media (min-width: 769px) and (max-width: 999px) {
         @include fl(16);
      }
      @media (min-width: 1000px) and (max-width: 1199px) {
         @include fl(18);
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
         @include fl(20);
      }
      @media (min-width: 1400px) and (max-width: 1599px) {
         @include fl(22);
      }
      @media (min-width: 1600px) {
         @include fl(24);
      }
   }
   &__text {
      @media (max-width: 768px) {
         @include fl(12);
      }
      @media (min-width: 769px) {
         @include fl(14);
      }
   }

   &__body-wrapper {
      overflow: hidden;
      transition: height 1s ease;

      height: 0;
      .card__about {
         display: grid;
         row-gap: 13px;
         margin-bottom: 15px;
         li {
            display: flex;
            align-items: center;
            column-gap: 6px;
            &:first-child {
               transform: translateY(2px);

               ellipse {
                  stroke: #fff;
               }
               path {
                  fill: #fff;
               }
            }
            &:nth-child(2) {
               transform: translateY(-2px);

               circle {
                  stroke: #fff;
               }
               path {
                  fill: #fff;
               }
               :first-child {
                  align-self: flex-start;
               }
               span {
                  display: inline-block;
               }
            }
            &:last-child {
               svg {
                  stroke: #fff;
               }
            }
            :first-child {
               flex: 0 0 24px;
               height: 24px;
            }
            span {
               font-weight: 700;
               @include fl(16);
            }
            p {
               font-weight: 500;
               &:first-of-type {
                  @include fl(14);
               }
               &:last-of-type {
                  @include fl(12);
               }
            }
            &:last-child {
               padding-top: 3px;
               i {
                  padding-left: 2px;
                  @include fl(18);
               }
               p {
                  font-family: $ff2;
               }
            }
         }
      }
   }
   // .card__body

   &__body {
      position: relative;
      z-index: 1;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 46px;
      padding-top: 16px;
      color: $light;
      // height: 0;
      @media (max-width: 999px) and (min-width: 300px) {
         padding-left: 20px;
         padding-right: 20px;
         padding-top: 16px;
         // padding-bottom: 46px;
         padding-bottom: 24px;
      }
      @media (min-width: 1000px) {
         padding-left: 31px;
         padding-right: 31px;
         padding-top: 79px;
         // padding-bottom: 95px;
         padding-bottom: 36px;
         // padding-bottom: 66px;
      }
   }
   .fear {
      margin-bottom: 3px;
      &__text {
         @include fl(12);
         font-weight: 500;
      }
      &__icons {
         :not(:first-child) {
            margin-left: -2px;
         }
      }
   }
   .difficulty {
      margin-bottom: 12px;
      &__text {
         @include fl(12);
         font-weight: 500;
      }
      &__icons {
         :not(:first-child) {
            margin-left: -2px;
         }
      }
   }
   &__buttons {
      display: flex;
      align-items: center;
      column-gap: 10px;
      a {
         text-transform: uppercase;
         min-height: 36px;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 10px;
         font-weight: 700;
         @include fl(12);
         transition: all 0.3s ease;
      }
   }
   &__order {
      color: $dark;
      background-color: $light;
      border: 1px solid $light;
      &:hover {
         box-shadow: 0px 4px 14px rgba(104, 139, 16, 0.6);
      }
      &:active {
         background-color: $orangeHover;
         box-shadow: none;
         border: 1px solid $orangeHover;
      }
   }
   &__info {
      color: $light;
      background-color: transparent;
      border: 1px solid $light;
      &:hover {
         color: $orangeHover;
         border: 1px solid $orangeHover;
      }
      &:active {
         color: $light;
         border: 1px solid $light;
      }
   }
}
