.ceo {
   width: 100%;
   max-width: 100%;
   background-color: rgba(255, 255, 255, 1);

   &__container {
      margin: 0 auto;
      max-width: 1250px;
   }

   &__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 743px) {
         padding: 45px 3.1% 75px;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         padding: 9px 4% 55px;
      }

      @media (min-width: 1920px) {
         padding: 104px 4% 115px;
      }
   }

   &__preview {
      position: relative;
      display: flex;
      align-items: center;

      @media (max-width: 1919px) {
         padding-top: 20px;
         padding-bottom: 18px;
      }

      @media (min-width: 1920px) {
         padding-top: 0;
         padding-bottom: 0;
      }
   }

   &__wrapper {
      height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
   }

   &__decor {
      box-shadow: inset 0px -124px 47px -70px rgba(255, 255, 255, 1);
      z-index: 5;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease 0s;
   }

   &__body {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;

      @media (max-width: 1199px) {
         flex-direction: column;
         gap: 1em;
      }

      @media (min-width: 1200px) {
         gap: 2em;
         flex-direction: row;
      }
   }

   &__text {
      color: rgba(16, 16, 16, 1);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;

      @media (max-width: 143px) {
         letter-spacing: 0.16px;
      }

      // @media (min-width: 744px) {
      //    letter-spacing: 0.15px;
      // }

      @media (min-width: 1920px) {
         margin: 0 auto;
      }
   }

   &__text1 {
      @media (min-width: 744px) {
         width: 99.9%;
      }

      @media (min-width: 1200px) and (max-width: 1919px) {
         padding: 0 2%;
      }

      @media (min-width: 1920px) {
         max-width: 900px;
         padding: 0 4% 0 4.4%;
      }
   }

   &__btn {
      transition: all 0.3s ease 0s;
      cursor: pointer;
      color: rgba(144, 199, 94, 1);
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.9px;
      padding: 5px;

      @media (min-width: 1920px) {
         padding-top: 0;
      }
   }

   @media (min-width: 744px) {
      &__btn:hover {
         color: rgba(249, 191, 48, 1);
      }

      &__btn:active {
         color: rgba(144, 199, 94, 0.6);
      }
   }

   &__text-hide {
      @media (max-width: 749px) {
         display: none;
      }

      @media (min-width: 750px) {
         display: initial;
      }
   }
}
.ceo.opened {
   .ceo__decor {
      box-shadow: none;
   }
}
