.order-quest-pop-up {
   &.active {
      z-index: 100;
      opacity: 1;
      pointer-events: all;
   }

   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 100;
   z-index: 0;
   opacity: 0;
   pointer-events: none;

   &__container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      // ! отступы от краев
      @media (min-width: 744px) {
         padding-top: 30px;
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
      }

      @media (min-width: 1000px) {
         padding-top: percent(177, 1920);
      }

      @media (min-width: 1400px) {
         padding-left: percent(270, 1920);
         padding-right: percent(270, 1920);
      }

      // @media (min-width: 1000px) and (max-width: 1199px) {
      //    padding-left: percent(, 1000);
      //    padding-right: percent(, 1000);
      // }

      // @media (min-width: 1200px) and (max-width: 1399px) {
      //    padding-left: percent(, 1200);
      //    padding-right: percent(, 1200);
      // }

      // @media (min-width: 1400px) and (max-width: 1599px) {
      //    padding-left: percent(, 1400);
      //    padding-right: percent(, 1400);
      // }

      // @media (min-width: 1600px) and (max-width: 1799px) {
      //    padding-left: percent(, 1600);
      //    padding-right: percent(, 1600);
      // }

      // @media (min-width: 1800px) and (max-width: 1919px) {
      //    padding-left: percent(, 1800);
      //    padding-right: percent(, 1800);
      // }

      @media (min-width: 1920px) {
         padding-top: 177px;
         padding-left: percent(270, 1920);
         padding-right: percent(270, 1920);
      }
   }

   &__body {
      overflow: auto;
      max-height: 100%; // ! Запрещаем блоку быть большего размера чем задано родителем (padding: 200px)
      padding-left: percent(12, 375);
      padding-right: percent(12, 375);
      background-color: $light;

      @media (min-width: 744px) {
         padding-top: 18px;
         padding-left: percent(11, 375);
         padding-right: percent(11, 375);
      }

      @media (min-width: 1920px) {
         padding-top: 34px;
         padding-left: 2.1%;
         padding-right: 2.2%;
      }

      p {
         @include fl(24, 32);
         color: $light;
      }
   }

   &__btn-close-wrap {
      display: flex;
      justify-content: flex-end;
      padding-right: 7px;
      padding-top: 7px;
      margin-bottom: 18px;

      @media (min-width: 744px) {
         padding-top: 0;
         padding-right: 2px;
         margin-bottom: 0;
      }

      @media (min-width: 1920px) {
         margin-bottom: 17px;
         padding-right: 7px;
      }
   }

   &__btn-close {
      position: relative;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      cursor: pointer;

      @media (min-width: 744px) {
         width: 23px;
         height: 23px;
         transform: translate(0%, 17%) rotate(45deg);
      }

      @media (min-width: 1920px) {
         width: 19px;
         height: 19px;
      }
   }

   &__btn-close::before {
      content: "";
      position: absolute;
      background-color: rgba(40, 48, 63, 1);
      width: 15px;
      height: 1.5px;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;

      @media (min-width: 744px) {
         height: 2px;
         width: 100%;
      }
   }

   &__btn-close::after {
      content: "";
      position: absolute;
      background-color: rgba(40, 48, 63, 1);
      border-radius: 15px;
      width: 15px;
      height: 1.5px;
      transform: rotate(90deg);
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;

      @media (min-width: 744px) {
         width: 100%;
         height: 2px;
      }
   }

   &__title {
      color: $dark;
      font-weight: 700;
      @include fl(22, 28);
      margin-bottom: 24px;

      @media (min-width: 1920px) {
         @include fl(36, 44);
      }
   }

   &__elem {
      color: $greenHover;
      display: block;

      @media (min-width: 744px) {
         display: inline;
         padding-left: 6px;
      }

      @media (min-width: 1920px) {
         padding-left: 11px;
      }
   }

   &__form {
      margin-bottom: 10px;

      @media (min-width: 1000px) {
         display: grid;
         grid-template-columns: 45.3% 1fr;
         column-gap: 25px;
      }

      @media (min-width: 1920px) {
         margin-bottom: 24px;
         column-gap: 60px;
      }
   }

   &__field-set {
      border: none;
      margin: 0;
      padding: 0;
   }

   &__field-set:nth-of-type(1) {
      margin-bottom: 34px;
   }

   &__label {
      display: none;
   }

   &__label-desk {
      @media (min-width: 1920px) {
         display: block;
         font-weight: 700;
         color: $dark;
         @include fl(24, 32);
         margin-bottom: 10px;
      }
   }

   &__field {
      position: relative;
      margin-bottom: 5px;

      @media (min-width: 1000px) {
         width: 67%;
      }
   }

   &__field:last-of-type {
      @media (min-width: 1000px) {
         width: 100%;
      }
   }

   &__field:nth-of-type(1),
   &__field:nth-of-type(2) {
      @media (min-width: 1920px) {
         margin-bottom: 13px;
      }
   }

   &__field:nth-of-type(3) {
      margin-bottom: 13px;

      @media (min-width: 1920px) {
         margin-bottom: 22px;
      }
   }

   &__field:not(div:last-child)::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
   }

   &__lea {
      padding: 14px 0 12px;
      width: 100%;
   }

   &__lea-add {
      display: block;
      font-weight: 400;
      @include fl(18, 24);
      color: rgba(16, 16, 16, 0.6);
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 8px 42px;
      text-align: center;

      @media (min-width: 1920px) {
         color: rgba(16, 16, 16, 0.2);
         font-weight: 700;
         max-width: 260px;
         width: 100%;
         padding: 17px 42px;
      }
   }

   &__lea::placeholder {
      color: rgba(16, 16, 16, 0.6);
      font-weight: 400;
      @include fl(14, 18);

      @media (min-width: 1920px) {
         @include fl(16, 22);
      }
   }

   &__lea-date {
      color: $dark;
      font-weight: 700;
      @include fl(18, 24);
   }

   &__check {
      display: none;
   }

   &__check:checked + &__sign-labe:before {
      background: url("@img/icons/check.svg") no-repeat center;
      border: 1px solid $greenItem;
   }

   &__sign-labe {
      color: $dark;
      font-weight: 400;
      @include fl(12, 16);
      user-select: none;
      position: relative;
      padding-left: 32px;

      @media (min-width: 1920px) {
         @include fz(16);
      }
   }

   &__sign-labe::before {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 16px;
      height: 16px;
      border: 1px solid $dark;
      box-sizing: border-box;
      cursor: pointer;
      transform: translate(-201%, 67%);

      @media (min-width: 744px) {
         transform: translate(-201%, 18%);
      }
   }

   &__sign-labe-link {
      color: $greenHover;
      display: block;
      padding-left: 32px;
      text-decoration: underline;

      @media (min-width: 744px) {
         display: inline;
         padding-left: 0;
      }
   }

   &__field2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 13px;
      position: relative;

      @media (min-width: 1920px) {
         padding-bottom: 17px;
      }

      p {
         font-weight: 700;
         color: $dark;
         @include fl(18, 24);
         text-align: right;
         width: 70%;
      }
   }

   &__field2:nth-of-type(1) {
      margin-bottom: 15px;
   }

   &__field2:nth-of-type(2) {
      padding-bottom: 12px;

      @media (min-width: 1920px) {
         padding-bottom: 16px;
      }
   }

   &__field2:nth-of-type(3) {
      padding-top: 15px;
      padding-bottom: 12px;

      @media (min-width: 1920px) {
         padding-bottom: 18px;
      }

      .order-quest-pop-up__select-current {
         @media (min-width: 1920px) {
            padding-left: 48px;
         }
      }
   }

   &__field2:nth-of-type(4) {
      padding-top: 16px;
      padding-bottom: 13px;

      @media (min-width: 1920px) {
         padding-bottom: 16px;
      }
   }

   &__field2:nth-of-type(5) {
      padding-top: 16px;
      padding-bottom: 13px;

      @media (min-width: 1920px) {
         padding-bottom: 18px;
      }
   }

   &__field2:nth-of-type(6) {
      padding-top: 15px;
   }

   &__field2:not(div:last-child):after {
      content: "";
      position: absolute;
      background-color: rgba(16, 16, 16, 0.2);
      width: 100%;
      height: 1px;
      bottom: 0;
   }

   &__sign {
      display: block;
      font-weight: 400;
      color: $dark;
      @include fl(12, 16);

      @media (min-width: 1920px) {
         @include fl(18, 24);
      }
   }

   &__select {
      max-width: 140px;
      width: 100%;
      position: relative;
      user-select: none;

      @media (min-width: 1920px) {
         max-width: 260px;
      }
   }

   &__select.is-active {
      .popup-heroes__select-body {
         display: initial;
      }
   }

   &__select-header {
      border: 1px solid rgba(0, 0, 0, 0.2);
      display: flex;
      cursor: pointer;
      box-sizing: border-box;
   }

   &__select-current {
      padding: 8px 12px;
      font-weight: 500;
      @include fl(16, 24);

      @media (min-width: 1920px) {
         padding: 15px 12px 17px 53px;
         font-weight: 700;
         @include fz(18);
      }
   }

   &__select-icon {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      padding-right: 11px;

      @media (min-width: 1920px) {
         padding-right: 24px;
      }
   }

   &__select-body {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top: 0;
      display: none;
   }

   &__item {
      display: block;
      color: $dark;
      font-weight: 500;
      @include fl(16, 24);
      cursor: pointer;
      padding: 8px 12px;
   }

   &__item:hover {
      background-color: rgba(16, 16, 16, 0.1);
   }

   &__item2 {
      display: block;
   }

   &__btn-wrap {
      display: flex;
      flex-direction: column;
   }

   &__btn-book {
      font-family: inherit;
      font-weight: 700;
      max-width: 351px;
      width: 100%;
      background-color: $greenHover;
      height: 52px;
      @include fl(24, 32);
      color: $light;
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 1920px) {
         height: 112px;
         max-width: 914px;
         margin-bottom: 20px;
      }
   }

   &__btn-back {
      font-family: inherit;
      color: $greenItem;
      font-weight: 700;
      @include fl(12, 16);

      @media (min-width: 1920px) {
         @include fl(18, 24);
      }
   }
}
