.show {
   width: 100%;
   max-width: 100%;
   position: relative;
   overflow: hidden;

   @media (max-width: 743px) {
      min-height: 780px;
   }

   @media (min-width: 744px) and (max-width: 1919px) {
      min-height: 560px;
   }

   @media (min-width: 1920px) {
      min-height: 680px;
   }

   &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   &__decor {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, #000000 100%);
      position: absolute;
      width: 100%;
      height: 100%;
   }

   &__container {
      margin: 0 auto;
      max-width: 1550px;
      z-index: 1;
      position: relative;

      @media (max-width: 743px) {
         min-height: 780px;
      }

      @media (min-width: 744px) {
         min-height: 560px;
      }
   }

   &__wrap {
      display: flex;
      flex-direction: column;

      @media (max-width: 743px) {
         padding: 40px 3.3% 10px;
         align-items: center;
      }

      @media (min-width: 744px) {
         align-items: flex-start;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         padding: 40px 7.4% 10px;
      }

      @media (min-width: 1920px) {
         padding: 127px 0.7% 10px 5.5%;
      }
   }

   &__tile {
      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      width: 95%;

      @media (max-width: 743px) {
         margin-bottom: 110px;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         margin-bottom: 80px;
      }

      @media (min-width: 1400px) {
         font-size: 72px;
         line-height: 86.4px;
      }

      @media (min-width: 1920px) {
         text-align: left;
         width: 53%;
         margin-bottom: 29px;
      }
   }

   &__list {
      width: 100%;
      display: grid;
      gap: 1.25em;
      column-gap: 0.5em;
      margin-bottom: 20px;

      @media (max-width: 743px) {
         grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 744px) {
         grid-template-columns: repeat(25, 1fr);
      }

      @media (min-width: 1920px) {
         display: flex;
         column-gap: 1em;
      }
   }

   &__item {
      width: 100%;
      max-width: 100%;
   }

   &__item-wrap {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 300px;
      position: relative;
   }

   &__item1 {
      @media (max-width: 743px) {
         grid-column: span 2;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         max-width: 567px;
      }

      @media (min-width: 744px) {
         grid-column: span 22;
         padding-right: 11px;
      }

      @media (min-width: 1920px) {
         padding: 0;
         max-width: 567px;
         width: 100%;
         flex: 1 0 567px;
      }

      .show__item-wrap {
         @media (max-width: 374px) {
            padding: 9px 0 8px 35px;
         }

         @media (min-width: 375px) and (max-width: 743px) {
            padding: 9px 0 8px 40px;
         }

         @media (min-width: 744px) and (max-width: 1919px) {
            padding: 15px 0 16px 40px;
         }

         @media (min-width: 1920px) {
            padding: 16px 0 19px 57px;
         }
      }

      svg {
         position: absolute;

         @media (max-width: 374px) {
            left: -2%;
            top: 35%;
         }

         @media (min-width: 375px) {
            top: 44%;
         }

         circle {
            stroke: rgba(255, 255, 255, 1);
         }

         path {
            fill: rgba(255, 255, 255, 1);
         }
      }

      .show__par {
         padding-left: 30px;

         @media (max-width: 743px) {
            padding-top: 3px;
            width: 91%;
         }

         @media (min-width: 744px) {
            padding-top: 5px;
            width: 100%;
         }
      }
   }

   &__item2 {
      @media (min-width: 744px) {
         grid-column: span 7;
         padding: 0;
         padding-right: 8px;
      }

      @media (min-width: 1920px) {
         padding: 0;
         max-width: 198px;
         width: 100%;
         flex: 1 0 198px;
      }

      .show__item-wrap {
         @media (max-width: 374px) {
            padding: 15px 0 15px 15px;
         }

         @media (min-width: 375px) and (max-width: 743px) {
            padding: 15px 0 15px 34px;
         }

         @media (min-width: 744px) and (max-width: 1919px) {
            padding: 19px 0 19px 37px;
         }

         @media (min-width: 1920px) {
            padding: 15px 0 15px 34px;
         }
      }

      .description-title {
         margin-bottom: 2px;
      }

      justify-self: center;
      padding-left: 11px;
      padding-right: 2px;
   }

   &__item3 {
      @media (min-width: 744px) {
         grid-column: span 7;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         padding: 0 12px 0 4px;
      }

      @media (min-width: 1920px) {
         padding: 0;
         max-width: 190px;
         width: 100%;
         flex: 1 0 190px;
      }

      justify-self: center;
      padding-right: 11px;
      padding-left: 10px;

      .show__item-wrap {
         @media (max-width: 374px) {
            padding: 15px 0 15px 15px;
         }

         @media (min-width: 375px) and (max-width: 743px) {
            padding: 15px 0 8px 35px;
         }

         @media (min-width: 744px) and (max-width: 1919px) {
            padding: 19px 0 12px 38px;
         }

         @media (min-width: 1920px) {
            padding: 15px 0 14px 35px;
         }
      }

      .description-title {
         @media (min-width: 1920px) {
            margin-bottom: 5px;
         }
      }
   }

   &__item4 {
      grid-column: span 2;
      justify-self: center;

      @media (max-width: 374px) {
         padding: 0 20px;
      }

      @media (min-width: 375px) and (max-width: 743px) {
         padding: 0 38px;
      }

      @media (min-width: 744px) {
         grid-column: span 11;
         padding: 0;
      }

      @media (min-width: 1920px) {
         transform: translate(-2%, 0);
         // padding: 0;
         max-width: 274px;
         width: 100%;
         flex: 1 0 274px;
      }

      .description-title {
         margin-bottom: 2px;
      }

      .show__item-wrap {
         @media (max-width: 374px) {
            padding: 15px 0 15px 15px;
         }

         @media (min-width: 375px) {
            padding: 15px 0 17px 35px;
         }
      }

      .genre-ask {
         font-size: 22px;
      }

      .genre {
         font-size: 22px;
      }
   }

   &__desck-block {
      display: flex;
      gap: 0.5em;
   }

   &__item-block {
      display: flex;
      flex-direction: column;
      position: relative;
   }

   .description-title {
      color: rgba(255, 255, 255, 1);
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
   }

   &__par {
      color: rgba(255, 255, 255, 1);
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      @media (min-width: 1400px) {
         line-height: 16px;
      }
   }

   &__link {
      font-weight: 400;
      text-decoration: underline;
   }

   &__desc {
      color: rgba(255, 255, 255, 1);
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      padding-top: 5px;
   }

   &__cost {
      color: rgba(255, 255, 255, 1);
      line-height: 44.4px;
      font-weight: 700;
      font-size: 37px;
      margin-bottom: 35px;
      display: block;
      text-align: center;

      @media (min-width: 744px) {
         margin-bottom: 25px;
         text-align: left;
      }

      @media (min-width: 1920px) {
         margin-bottom: 0;
         margin-left: auto;
         white-space: nowrap;
         padding-top: 15px;
      }
   }

   &__text {
      color: rgba(255, 255, 255, 1);
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      @media (min-width: 1920px) {
         max-width: 66%;
         font-size: 24px;
         line-height: 30px;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (min-width: 1920px) {
         flex-direction: row;
         margin-bottom: 10px;
      }
   }
}
