.slider {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    max-width: 192px;
    margin: 0 auto;
    margin-top: 24px;
    @media (min-width: 1400px) {
       margin-top: 42px;
    }
 }
 &__prev ,
 &__next {
    width: 34px;
    height: 34px;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: rgba(144, 199, 94, 0.2);
    cursor: pointer;
    &-active {
       background: $greenItem;
    }
 }
}