.video-block {
   &__container {
      @media (max-width: 739px) {
         padding-top: 60px;
         padding-left: percent(12, 375);
         padding-right: percent(12, 375);
      }
      @media (min-width: 739px) and (max-width: 999px) {
         padding-top: 60px;
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
      }
      @media (min-width: 1400px) {
         padding-left: percent(130, 1920);
         padding-right: percent(130, 1920);
         padding-top: percent(130, 1920);
      }
   }
   &__text {
      @media (max-width: 560px) {
         text-align: center;
         margin-bottom: 16px;
      }
      @media (min-width: 561px) and (max-width: 999px) {
         margin-bottom: 24px;
      }
      @media (max-width: 999px) {
         @include fl(16, 22);
      }
      @media (min-width: 1000px) {
         margin: 0 auto 24px;
         max-width: 820px;
         text-align: center;
      }
      @media (min-width: 1000px) and (max-width: 1199px) {
         @include fl(18, 24);
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
         @include fl(20, 26);
      }
      @media (min-width: 1400px) and (max-width: 1599px) {
         @include fl(22, 28);
      }
      @media (min-width: 1600px) {
         @include fl(24, 30);
      }
   }
   &__video {
      cursor: pointer;
      position: relative;
      @media (max-width: 739px) {
         padding-bottom: percent(182, 375);
      }
      @media (min-width: 740px) and (max-width: 999px) {
         padding-bottom: percent(332, 684);
      }
      @media (min-width: 1000px) {
         padding-bottom: percent(800, 1660);
      }
      &:hover {
         i {
            border-color: $greenItem;
            transform: translate(-50%, -50%) scale(1.2);
         }
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: cent er;
      }
      i {
         transition: all 0.3s ease;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;
         border: 1px solid transparent;
         padding: 10px 10px 10px 15px;
         border-radius: 50%;

         @media (max-width: 739px) {
            @include fz(43);
            width: 65px;
            height: 65px;
         }
         @media (min-width: 740px) and (max-width: 999px) {
            @include fz(77);
         }
         @media (min-width: 1000px) {
            @include fz(95);
         }
         @media (min-width: 1200px) {
            @include fz(110);
         }
         @media (min-width: 1400px) {
            @include fz(125);
         }
         @media (min-width: 1600px) {
            @include fz(140);
         }
         @media (min-width: 1800px) {
            @include fz(150);
         }
         @media (min-width: 1800px) {
            @include fz(164);
         }
      }
      position: relative;
      &:after {
         content: "";
         position: absolute;
         z-index: 0;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: $dark;
         opacity: 0.4;
      }
   }
}
.video-pop-up {
   &.active {
      z-index: 100;
      opacity: 1;
      pointer-events: all;
   }
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.9);
   width: 100vw;
   height: 100vh;
   z-index: 0;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s ease;

   // .video-pop-up__wrapper

   &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 20px; // ! отступы от краев
   }

   // .video-pop-up__body

   &__body {
      overflow: auto;
      height: 100%; // ! Запрещаем блоку быть большего размера чем задано родителем (padding: 200px)
      background-color: rgba(233, 233, 233, 0.33);
      padding: 0px;
      position: relative;
   }

   // .video-pop-up__wrap

   &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      video {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}
.myVid {
   margin-top: 30px;
   margin-bottom: 30px;
   width: 100%;
   position: relative;
   padding-bottom: 57%;

   video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
   }
}
