.header {
   position: fixed;
   z-index: 10;
   width: 100%;
   top: 0;
   left: 0;
   transition: all 0.3s ease;
   &:before {
      // Накрывает менюшки с position: fixed
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $light; // todo Изменить на нужный цвет подложки
      z-index: 11;
   }
   &__container {
      @extend %container;
      @media (max-width: 699px) {
         min-height: 132px;
         padding-top: 16px;
      }
      @media (min-width: 700px) and (max-width: 1000px) {
         min-height: 98px;
         padding-top: 22px;
      }
      @media (min-width: 1000px) {
         min-height: 216px; // todo Указываем минимальную высоту шапки
      }
   }
}

.header-top {
   transition: all 0.3s ease;
   position: relative;
   z-index: 11;
   @media (max-width: 1000px) {
      margin-bottom: 12px;
   }
   // .header-top__container
   &__container {
      @extend %container;
      align-items: center;
      @media (max-width: 699px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 7px;
         padding-top: 11px;
      }
      @media (min-width: 700px) {
         display: flex;
         justify-content: space-between;
         column-gap: 31px;
         padding-top: 19px;
      }
      @media (min-width: 1000px) {
         position: relative;
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
      }
      @media (min-width: 1000px) and (max-width: 1399px) {
         padding-top: 25px;
         padding-bottom: 12px;
      }
      @media (min-width: 1400px) {
         padding-top: 25px;
         padding-bottom: 26px;
      }
   }
   // .header-top__logo
   &__logo {
      position: relative;
      z-index: 11;
      @media (max-width: 699px) {
         width: 128px;
         margin-left: -8px;
      }
      @media (max-width: 999px) {
         height: 40px;
      }
      @media (min-width: 700px) and (max-width: 999px) {
         width: 160px;
         margin-left: -5px;
         order: 1;
      }
      @media (min-width: 1000px) and (max-width: 1399px) {
         width: 220px;
         margin-left: -5px;
         order: 2;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         height: 60px;
      }
      @media (min-width: 1400px) {
         width: 285px;
         position: absolute;
         left: 50%;
         order: 2;
         top: 50%;
         transform: translate(-51%, -50%);
         height: 80px;
      }
      transition: all 0.3s ease;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
         @media (max-width: 999px) {
            transform: scale(1.1);
         }
         @media (min-width: 1000px) {
            transform: translate(-50%, -50%) scale(1.1);
         }
      }
      svg {
         min-height: 30px;
         min-width: 100px;
         transform: translateY(-2px);
         @media (min-width: 1000px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
         }
         @media (min-width: 1400px) {
            transform: translate(-50%, -54%);
         }
      }
   }

   // .header-top__buttons
   &__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 6px;
      @media (max-width: 699px) {
         margin-left: auto;
      }
      @media (min-width: 700px) and (max-width: 999px) {
         order: 4;
         margin-left: 4px;
      }

      i {
         color: $greenItem;
         @media (max-width: 699px) {
            @include fl(22);
         }
         @media (min-width: 700px) {
            @include fl(23);
         }
      }
      @media (min-width: 1000px) {
         display: none;
      }
   }

   &__lists {
      display: flex;
      align-items: center;
      transition: all 0.3s ease;

      @media (max-width: 1399px) {
         column-gap: 12px;
      }
      @media (max-width: 369px) {
         align-self: center;
         grid-column: span 2;
         margin: 0 auto;
         margin-bottom: 10px;
         justify-content: space-between;
      }
      @media (max-width: 699px) and (min-width: 370px) {
         margin-right: auto;
         justify-content: space-between;
      }
      @media (min-width: 700px) and (max-width: 999px) {
         order: 2;
         flex: 1 1 auto;
      }
      @media (min-width: 1000px) {
         order: 1;
      }
      @media (min-width: 1000px) {
         column-gap: 25px;
      }
      ul {
         display: flex;
         @media (max-width: 1399px) {
            column-gap: 2px;
         }
         @media (min-width: 1400px) {
            column-gap: 4px;
         }
         a {
            font-weight: 500;
            color: $dark;
            @media (max-width: 1399px) {
               padding: 6px 10px;
            }
            @media (max-width: 999px) {
               @include fl(10, 14);
            }
            @media (min-width: 1000px) and (max-width: 1399px) {
               @include fl(13, 19);
            }
            @media (min-width: 1400px) {
               @include fl(16, 22);
               padding: 6px;
            }
            &.active {
               color: rgba(16, 16, 16, 0.6);
               border: 1px solid $greenItem;
               border-radius: 4px;
            }
            transition: all 0.3s ease;
            &:hover {
               &.active {
                  opacity: 0.6;
               }

               &:not(a.active) {
                  color: $orangeHover;
               }
            }
         }
      }
   }

   &__phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 2px;
      transition: all 0.3s ease;

      @media (max-width: 369px) {
         align-items: center;
         grid-column: span 2;
      }
      @media (min-width: 700px) and (max-width: 999px) {
         order: 3;
      }

      @media (min-width: 1000px) {
         order: 3;
      }
      a {
         font-weight: 700;
         @media (max-width: 999px) {
            @include fl(14, 18);
         }
         @media (min-width: 1000px) and (max-width: 1399px) {
            @include fl(19, 25);
         }
         @media (min-width: 1400px) {
            @include fl(24, 30);
         }
      }
      button {
         cursor: pointer;
         font-weight: 500;
         color: $greenItem;
         font-family: $ff1;
         @media (max-width: 999px) {
            @include fl(12, 16);
         }
         @media (min-width: 1000px) and (max-width: 1399px) {
            @include fl(14, 18);
         }
         @media (min-width: 1400px) {
            @include fl(16, 22);
         }
         transition: all 0.3s ease;
         &:hover {
            color: $orangeHover;
         }
         &:active {
            color: $greenItem;
            opacity: 0.6;
         }
      }
   }
}
.header-menu {
   // ! Desktop
   @media (min-width: 1000px) {
      position: relative;
      z-index: 11;
      background-color: $green;
      // .header-menu__container
      &__container {
         padding-left: percent(12, 375);
         padding-right: percent(12, 375);
         padding-top: 10px;
         padding-bottom: 10px;
         position: relative;
         @media (min-width: 1200px) {
         }
         @media (min-width: 1400px) {
            padding-left: percent(241, 1920);
            padding-right: percent(241, 1920);
            padding-left: percent(234, 1920);
            padding-right: percent(248, 1920);
            padding-top: 15px;
            padding-bottom: 15px;
         }
      }

      // .header-menu__navigation
      &__navigation {
      }

      // .header-menu__list

      &__list {
         max-width: 1438px; // Задаем максимальную ширину (брать ширину меню из макета)
         flex: 1 1 auto; //Растягиваем на всю возможную ширину
         position: relative;
         z-index: 2;
         display: flex;
         align-items: center;
         justify-content: center; // Раздвигаем элементы меню между собой для резинового увеличения отступа
         flex-wrap: wrap;
         li {
            // отступы между пунктами
            &:not(:first-child) {
               margin-left: percent(15, 1438);
               @media (min-width: 1200px) {
                  margin-left: percent(20, 1438);
               }
               @media (min-width: 1920px) {
                  margin-left: percent(30, 1438);
               }
            }
            &:not(:last-child) {
               padding-right: percent(15, 1438);
               @media (min-width: 1200px) {
                  padding-right: percent(20, 1438);
               }
               @media (min-width: 1920px) {
                  padding-right: percent(30, 1438);
               }
            }
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
               @media (min-width: 769px) {
                  a {
                     &:after {
                        width: 100%;
                     }
                  }
               }
            }
            a {
               text-transform: uppercase;
               color: $dark;
               padding-top: 5px;
               padding-bottom: 5px;
               display: block;
               position: relative;
               @media (min-width: 1000px) and (max-width: 1199px) {
                  @include fl(12, 16);
               }
               @media (min-width: 1200px) and (max-width: 1679px) {
                  @include fl(13.8, 18);
               }
               @media (min-width: 1680px) and (max-width: 1849px) {
                  @include fl(16, 20);
               }
               @media (min-width: 1850px) {
                  @include fl(18, 22);
               }
               font-size: 18px;
               &:after {
                  content: "";
                  position: absolute;
                  bottom: 0px;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 0;
                  height: 1px;
                  background: #000;
                  transition: all 0.3s ease;
               }
               &.active {
                  color: $light;
                  font-weight: 500;
               }
            }
         }
      }

      // .header-menu__about
      &__about {
         @media (min-width: 1000px) {
            display: none;
         }
      }
   }
   // ! Mobile menu
   @media (max-width: 1000px) {
      transition: right 0.8s ease 0.3s, background-color 0.3s ease 0s, z-index 1s ease 1s;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0);
      overflow-y: auto;
      z-index: 0;
      &__container {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         background-color: $light;
         padding-top: 140px;
         @media (max-width: 369px) {
            padding-top: 190px;
         }
      }
      &__list {
         text-align: center;
         @media (max-width: 739px) {
            margin-bottom: 59px;
         }
         @media (min-width: 740px) and (max-width: 999px) {
            margin-bottom: 48px;
         }
         li {
            &:not(:last-child) {
               margin-bottom: 26px;
            }
            a {
               text-transform: uppercase;
               display: inline-block;
               padding: 10px 0;
               color: $dark;
               @media (max-width: 369px) {
                  @include fl(15, 19);
               }
               @media (min-width: 370px) and (max-width: 999px) {
                  @include fl(18, 22);
               }
               position: relative;
               &:after {
                  content: "";
                  position: absolute;
                  bottom: 5px;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 0;
                  height: 1px;
                  background: $dark;
                  transition: all 0.3s ease;
               }
               &.active {
                  color: $greenHover;
               }
               transition: all 0.3s ease;
               &:hover {
                  font-weight: 600;
                  &:after {
                     width: 100%;
                  }
                  &.active {
                     &:after {
                        background-color: $greenHover;
                     }
                  }
               }
               &:active {
                  opacity: 0.6;
               }
            }
            // &:first-child {
            //    a {
            //       padding-top: 0;
            //    }
            // }
         }
      }
      &__about {
         @media (max-width: 1000px) {
            padding-bottom: 60px;
         }
      }

      // .header-menu__working-time
      &__working-time {
         display: flex;
         align-items: center;
         @media (max-width: 739px) {
            margin-bottom: 24px;
         }
         @media (min-width: 740px) and (max-width: 999px) {
            margin-bottom: 41px;
         }
         @media (max-width: 999px) {
            justify-content: center;
         }

         ul {
            @media (max-width: 369px) {
               padding-right: 10px;
            }
            @media (min-width: 370px) and (max-width: 999px) {
               padding-right: 24px;
            }
            position: relative;
            &:after {
               content: "";
               position: absolute;
               top: 0;
               right: 0;
               width: 1px;
               height: 100%;
               background: $dark;
            }
            li {
               p {
                  white-space: nowrap;
                  @media (max-width: 369px) {
                     padding-right: 10px;
                     @include fl(12, 18);
                  }
                  @media (min-width: 370px) and (max-width: 999px) {
                     padding-right: 24px;
                     @include fl(14, 20);
                  }
               }
            }
         }
         ul + p {
            @media (max-width: 369px) {
               padding-left: 10px;
               @include fl(12, 18);
            }
            @media (min-width: 370px) and (max-width: 999px) {
               padding-left: 24px;
               @include fl(14, 20);
            }
            span {
               display: block;
            }
         }
      }

      // .header-menu__subscribe
      &__subscribe {
         @media (max-width: 999px) {
            text-align: center;
         }
         p {
            font-weight: 500;
            @media (max-width: 739px) {
               margin-bottom: 18px;
            }
            @media (max-width: 369px) {
               @include fl(12, 18);
            }
            @media (min-width: 370px) and (max-width: 999px) {
               @include fl(16, 22);
            }
            @media (min-width: 740px) and (max-width: 999px) {
               margin-bottom: 13px;
            }
         }
         div {
            @media (max-width: 369px) {
               @include fl(12, 18);
            }
            @media (min-width: 370px) and (max-width: 999px) {
               @include fl(14, 20);
            }
         }

         a {
            &:first-child {
               background-color: $dark;
               display: inline-flex;
               justify-content: center;
               align-items: center;
               padding: 8px;
               border: 1px solid $dark;
               margin-left: -10px;
               margin-right: 10px;
               // &.hover {
               //    background-color: $telegramHover;
               //    border-color: $telegramHover;
               // }
               // &.clicked {
               //    background-color: transparent;
               //    border-color: $light;
               // }
            }
            &:last-child {
               position: relative;
               &:after {
                  content: "";
                  position: absolute;
                  bottom: 0px;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background: $dark;
               }
               // &.hover {
               //    color: $telegramHover;
               //    &:after {
               //       background-color: $telegramHover;
               //    }
               // }
               // &.clicked {
               //    color: $light;
               //    &:after {
               //       background-color: $light;
               //    }
               // }
            }
         }
      }
      &.active {
         z-index: 10;
         right: 0;
         background-color: rgba(0, 0, 0, 0.8);
         transition: right 0.8s ease 0s, background-color 0.3s ease 0.8s, z-index 0s ease 0s;
      }
   }
}
.header-bottom {
   transition: all 0.3s ease;
   position: relative;
   z-index: 11;
   // .header-bottom__container
   &__container {
   }

   // .header-bottom__image
   &__image {
      position: relative;
      &:first-child {
         @media (max-width: 580px) {
            margin-bottom: 12px;
            height: 12px;
         }
         @media (min-width: 581px) and (max-width: 999px) {
            position: relative;
            height: 18px;
            margin-bottom: 8px;
         }
         @media (min-width: 1000px) {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 6px;
         }
         img {
            @media (max-width: 580px) {
               width: 471px;
               position: absolute;
               top: 0;
               left: 50%;
               transform: translateX(-50%);
            }
            @media (min-width: 581px) and (max-width: 999px) {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
            @media (min-width: 1000px) {
               max-width: 918px;
            }
            @media (min-width: 1000px) and (max-width: 1199px) {
               height: 14px;
            }
            @media (min-width: 1200px) and (max-width: 1399px) {
               height: 16px;
            }
            @media (min-width: 1400px) and (max-width: 1679px) {
               height: 18px;
            }
            @media (min-width: 1680px) and (max-width: 1799px) {
               height: 20px;
            }
            @media (min-width: 1800px) {
               height: 22px;
            }
         }
      }
      &:last-child {
         @media (max-width: 999px) {
            height: 2px;
         }
         @media (min-width: 460px) {
            position: relative;
         }
         @media (min-width: 1000px) and (max-width: 1399px) {
            height: 4px;
         }
         @media (min-width: 1400px) and (max-width: 1799px) {
            height: 5px;
         }
         @media (min-width: 1800px) {
            height: 6px;
         }
         img {
            @media (max-width: 459px) {
               width: 712px;
               position: absolute;
               top: 0;
               left: 50%;
               transform: translateX(-50%);
            }
            @media (min-width: 460px) {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }
}

.burger {
   @media (min-width: 1000px) {
      display: none;
   }
   @media (max-width: 699px) {
      min-height: 30px; // Высота блока для удобства нажатия на иконку
      width: 30px; // Ширина блока для удобства нажатия на иконку
      // ? Двигаем на половину от разницы между width для .burger и width для .burger__wrapper что бы .burger прилип к контейнеру
      margin-right: -8px;
      // ? Двигаем на половину от разницы между width для .burger и width для .burger__wrapper что бы .burger прилип к контейнеру
      &__wrapper {
         width: 14px; // todo Макетная ширина бургера
         height: 12px; // todo Макетная высота бургера
      }
   }
   @media (min-width: 700px) and (max-width: 999px) {
      min-height: 40px;
      width: 40px;
      margin-right: -11px;
      // margin-right: 7px; // todo Если надо сделать как по макету
      &__wrapper {
         width: 18px;
         height: 15px;
      }
   }
   @media (max-width: 999px) {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
         transform: scale(1.2);
      }
      // todo Если нужно изменить цвет бургера при наведении
      /* 
   &:hover .burger__wrapper {
      span,
      &:before,
      &:after {
         background-color: orange; 
      }
   }
	*/
      &__wrapper {
         width: 14px; // todo Макетная ширина бургера
         height: 12px; // todo Макетная высота бургера
         position: relative;
         display: flex;
         flex-direction: column;
         span,
         &:before,
         &:after {
            width: 100%;
            height: 2px;
            background-color: $greenItem;
            transition: all 0.3s ease;
            transform: translateY(0);
            position: relative;
            left: 0;
            border-radius: 1.5px;
         }
         &:before {
            content: "";
            animation: burgerTopDisabled 0.7s ease 0s 1;
            animation-fill-mode: forwards;
         }
         &:after {
            content: "";
            animation: burgerBottomDisabled 0.7s ease 0s 1;
            animation-fill-mode: forwards;
         }
         span {
            top: 50%;
            transform: translateY(-150%);
            // transition: background-color 0.3s ease, transform 0.3s ease 0.35s; //! Interesting effect (on desktop)
            transition: background-color 0.3s ease, transform 0.3s ease 0s;
         }

         @keyframes burgerTopDisabled {
            // Closing burger animation
            0% {
               top: 50%;
               transform: translateY(-50%) rotate(-45deg);
            }
            50% {
               top: 50%;
               transform: translateY(-50%);
            }
            100% {
               top: 0;
               transform: translateY(0);
            }
         }
         @keyframes burgerBottomDisabled {
            // Closing burger animation
            0% {
               top: 50%;
               transform: translateY(-250%) rotate(45deg);
            }
            50% {
               top: 50%;
               transform: translateY(-250%);
            }
            100% {
               top: 100%;
               transform: translateY(-300%);
            }
         }
      }
      &.active {
         // Opening burger animation
         .burger__wrapper {
            &:before {
               animation: burgerTopActive 0.7s ease 0s 1;
               animation-fill-mode: forwards;
            }
            span {
               transform: translateY(-150%) scale(0);
               // transition: background-color 0.3s ease, transform 0.3s ease 0s; //! Interesting effect (on desktop)
               transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
            }
            &:after {
               animation: burgerBottomActive 0.7s ease 0s 1;
               animation-fill-mode: forwards;
            }
            @keyframes burgerTopActive {
               0% {
                  top: 0;
                  transform: translateY(0);
               }
               50% {
                  top: 50%;
                  transform: translateY(-50%);
               }
               100% {
                  top: 50%;
                  transform: translateY(-50%) rotate(-45deg);
               }
            }
            @keyframes burgerBottomActive {
               0% {
                  top: 100%;
                  transform: translateY(-300%);
               }
               50% {
                  top: 50%;
                  transform: translateY(-250%);
               }
               100% {
                  top: 50%;
                  transform: translateY(-250%) rotate(45deg);
               }
            }
         }
      }
   }
}

#cart {
   @media (min-width: 1000px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: percent(12, 375);
      padding: 5px 8px;
      margin-right: -10px;
      z-index: 2;
      @media (min-width: 1400px) {
         right: percent(132, 1920);
      }
      i {
         transition: all 0.3s ease;

         @include fl(24);
         @media (min-width: 1200px) {
            @include fl(28);
         }
         @media (min-width: 1400px) {
            @include fl(34);
         }
      }
   }
   transition: all 0.3s ease;
   @media (max-width: 999px) {
      padding: 4px 7px;
   }
   &:hover {
      background-color: $greenHover;

      i {
         color: $light;
      }
   }
   &.active {
      @media (max-width: 999px) {
         position: relative;
      }
      &:after {
         content: "3";
         color: #fff;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         background: $dark;
         border: 2px solid $light;
         border-radius: 50%;
         @media (max-width: 999px) {
            bottom: 4px;
            right: 4px;
            width: 10px;
            height: 10px;
            @include fl(7, 7);
         }
         @media (min-width: 1000px) {
            bottom: 6px;
            right: 6px;
            width: 12px;
            height: 12px;
            @include fl(10, 10);
         }
      }
   }
}
