.header {
   position: relative;
   &:before {
      // Накрывает менюшки с position: fixed
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent; // todo Изменить на нужный цвет подложки
      z-index: 1;
   }
   &__container {
      @extend %container;
   }
   &__body {
      min-height: 70px; // todo Указываем минимальную высоту шапки
      display: flex;
      align-items: center;
      justify-content: space-between; // todo Позиционируем элементы по оси Х
      column-gap: 20px;
   }
   &__logo {
      z-index: 2;
      @include fl(30);
      transition: all 0.3s ease;
      &:hover {
         transform: scale(1.1);
      }
   }
}

.header-action {
   flex: 1 1 auto; //Растягиваем на всю возможную ширину
   max-width: 150px; // Задаем максимальную ширину (брать ширину меню из макета)
   position: relative;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: space-between; // Раздвигаем элементы меню между собой для резинового увеличения отступа
   column-gap: 15px; // минимальный отступ между элементами меню
   li {
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
         @media (min-width: 769px) {
            a {
               &:after {
                  width: 100%;
               }
            }
         }
      }
      a {
         padding-top: 5px;
         padding-bottom: 5px;
         @media (min-width: 769px) {
            display: block;
            position: relative;
            &:after {
               content: "";
               position: absolute;
               bottom: 5px;
               left: 0;
               width: 0;
               height: 1px;
               background: #000;
               transition: all 0.3s ease;
            }
         }
      }
   }
}

.burger {
   position: relative;
   z-index: 2;
   min-height: 40px; // Высота блока для удобства нажатия на иконку
   width: 40px; // Ширина блока для удобства нажатия на иконку
   // ? Двигаем на половину от разницы между width для .burger и width для .burger__wrapper что бы .burger прилип к контейнеру
   margin-left: -5px;
   // ? Двигаем на половину от разницы между width для .burger и width для .burger__wrapper что бы .burger прилип к контейнеру
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease;
   cursor: pointer;
   &:hover {
      transform: scale(1.2);
   }
   @media (min-width: 769px) {
      display: none;
   }
   // todo Если нужно изменить цвет бургера при наведении
   /* 
   &:hover .burger__wrapper {
      span,
      &:before,
      &:after {
         background-color: orange; 
      }
   }
	*/
   &__wrapper {
      width: 30px; // todo Макетная ширина бургера
      height: 20px; // todo Макетная высота бургера
      position: relative;
      display: flex;
      flex-direction: column;
      span,
      &:before,
      &:after {
         width: 100%;
         height: 2px;
         background-color: #000;
         transition: all 0.3s ease;
         transform: translateY(0);
         position: relative;
         left: 0;
      }
      &:before {
         content: "";
         animation: burgerTopDisabled 0.7s ease 0s 1;
         animation-fill-mode: forwards;
      }
      &:after {
         content: "";
         animation: burgerBottomDisabled 0.7s ease 0s 1;
         animation-fill-mode: forwards;
      }
      span {
         top: 50%;
         transform: translateY(-150%);
         // transition: background-color 0.3s ease, transform 0.3s ease 0.35s; //! Interesting effect (on desktop)
         transition: background-color 0.3s ease, transform 0.3s ease 0s;
      }

      @keyframes burgerTopDisabled {
         // Closing burger animation
         0% {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
         }
         50% {
            top: 50%;
            transform: translateY(-50%);
         }
         100% {
            top: 0;
            transform: translateY(0);
         }
      }
      @keyframes burgerBottomDisabled {
         // Closing burger animation
         0% {
            top: 50%;
            transform: translateY(-250%) rotate(45deg);
         }
         50% {
            top: 50%;
            transform: translateY(-250%);
         }
         100% {
            top: 100%;
            transform: translateY(-300%);
         }
      }
   }
   &.active {
      // Opening burger animation
      .burger__wrapper {
         &:before {
            animation: burgerTopActive 0.7s ease 0s 1;
            animation-fill-mode: forwards;
         }
         span {
            transform: translateY(-150%) scale(0);
            // transition: background-color 0.3s ease, transform 0.3s ease 0s; //! Interesting effect (on desktop)
            transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
         }
         &:after {
            animation: burgerBottomActive 0.7s ease 0s 1;
            animation-fill-mode: forwards;
         }
         @keyframes burgerTopActive {
            0% {
               top: 0;
               transform: translateY(0);
            }
            50% {
               top: 50%;
               transform: translateY(-50%);
            }
            100% {
               top: 50%;
               transform: translateY(-50%) rotate(-45deg);
            }
         }
         @keyframes burgerBottomActive {
            0% {
               top: 100%;
               transform: translateY(-300%);
            }
            50% {
               top: 50%;
               transform: translateY(-250%);
            }
            100% {
               top: 50%;
               transform: translateY(-250%) rotate(45deg);
            }
         }
      }
   }
}
