/*Шрифты*/
$ff1: "Montserrat", sans-serif;
$ff2: "PTSans", sans-serif;

//Цвета шрифтов
$light: #fff;
$dark: #101010;
$green: #9ad018;
$greenHover: #9acf16;
$greenItem: #90c75e;
$orange: #feb800;
$orangeHover: #f9bf30;
$blueHover: #4ab1eb;
$facebookHover: #0075e0;
$telegramHover: #4ab1eb;
$lightGrey: #f5f5f5;
$redHover: #de1717;
