.buy-form {
   width: 100%;
   max-width: 100%;
   background-color: rgba(16, 16, 16, 1);

   &__container {
      margin: 0 auto;
      max-width: 1750px;
   }

   &__main-wrap {
      display: grid;
      grid-template-columns: 1fr;
      padding: 40px 3.1% 40px;

      @media (min-width: 744px) {
         display: flex;
      }

      @media (min-width: 744px) and (max-width: 1199px) {
         gap: 1em;
         padding: 60px 2.55%;
      }

      @media (min-width: 1200px) and (max-width: 1599px) {
         gap: 2em;
         padding: 80px 2.55%;
      }

      @media (min-width: 1600px) and (max-width: 1919px) {
         gap: 3em;
         padding: 100px 2.55%;
      }

      @media (min-width: 1920px) {
         padding: 120px 2.55%;
         gap: 4em;
      }
   }

   &__block-picture {
      margin-bottom: 26px;

      @media (min-width: 744px) and (max-width: 999px) {
         flex: 1 1 50%;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         flex: 1 1 53%;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         flex: 1 1 56%;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         flex: 1 1 59%;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         flex: 1 1 62%;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         flex: 1 1 64%;
      }

      @media (min-width: 1920px) {
         flex: 1 1 66.6%;
      }
   }

   &__picture {
      position: relative;
      padding-bottom: 84.5%;
      overflow: hidden;

      img {
         position: absolute;
         object-fit: cover;
         width: 185%;
         height: 185%;
         top: 0;
         left: 0;
         object-position: 50% 57%;
         transbuy-form: translate(-31%, -50%);
         top: 50%;
         left: 50%;
      }
   }

   &__block-content {
      display: grid;
      grid-template-columns: 1fr;

      @media (min-width: 744px) {
         flex: 1 1 50%;
         display: flex;
         flex-direction: column;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         padding-top: 15px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         padding-top: 30px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         padding-top: 60px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         padding-top: 90px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         padding-top: 120px;
      }

      @media (min-width: 1920px) {
         padding-top: 146px;
      }
   }

   &__subtitle {
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
      justify-self: center;

      @media (min-width: 744px) {
         align-self: center;
      }

      @media (max-width: 999px) {
         font-size: 16px;
         line-height: 20px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 19px;
         line-height: 22px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 20px;
         line-height: 24px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         font-size: 21px;
         line-height: 26px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         font-size: 22px;
         line-height: 28px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         font-size: 23px;
         line-height: 29px;
      }

      @media (min-width: 1920px) {
         font-size: 24px;
         line-height: 30px;
         padding-left: 5px;
         margin-bottom: 30px;
      }
   }

   &__wrap {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 4px;

      @media (min-width: 1920px) {
         padding-left: 4px;
      }
   }

   &__field {
      position: relative;
      min-height: 45px;
      width: 100%;
      margin-bottom: 21px;

      @media (min-width: 1920px) {
         margin-bottom: 35px;
      }
   }

   &__field:hover {
      .buy-form__field::before {
         background-color: rgba(0, 0, 0, 0.6);
      }

      .buy-form__lea::placeholder {
         color: rgba(255, 255, 255, 0.8);
      }
   }

   &__field:nth-child(3) {
      margin-bottom: 41px;

      @media (min-width: 1920px) {
         margin-bottom: 44px;
      }
   }

   &__field:nth-child(4) {
      margin-bottom: 2px;

      @media (min-width: 1920px) {
         min-height: max-content;
         margin-bottom: 22px;
      }
   }

   &__field:not(div:nth-last-of-type(2))::before {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.4);
      width: 100%;
      height: 1px;
      bottom: 0;
   }

   &__lea {
      border: none;
      background: transparent;
      width: 100%;
      height: 50px;
      padding-top: 4px;
      caret-color: rgba(144, 199, 94, 1);

      @media (min-width: 1920px) {
         padding-top: 0;
         padding-bottom: 3px;
      }
   }

   &__lea-check {
      display: none;
   }

   &__lea::placeholder {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6);

      @media (max-width: 999px) {
         font-size: 14px;
         line-height: 18px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 15px;
         line-height: 20px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 16px;
         line-height: 22px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         font-size: 18px;
         line-height: 24px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         font-size: 20px;
         line-height: 26px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         font-size: 22px;
         line-height: 28px;
      }

      @media (min-width: 1920px) {
         font-size: 24px;
         line-height: 30px;
      }
   }

   &__lea[value] {
      color: rgba(255, 255, 255, 0.4);
   }

   &__sign {
      color: rgba(255, 255, 255, 1);
      user-select: none;
      font-weight: 400;
      line-height: 16px;
      position: relative;
      display: inline-block;
      padding-left: 36px;
      cursor: pointer;

      @media (max-width: 999px) {
         font-size: 12px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 14px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 15px;
      }

      @media (min-width: 1400px) {
         font-size: 16px;
      }

      @media (min-width: 1920px) {
         padding-left: 40px;
      }
   }

   &__sign::before {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 24px;
      height: 24px;
      border: 1px solid rgba(255, 255, 255, 1);
      box-sizing: border-box;
      left: 0;
      top: -4px;
      cursor: pointer;

      @media (min-width: 1920px) {
         width: 26px;
         height: 26px;
         top: -6px;
      }
   }

   &__lea-check:checked + &__sign:before {
      background: url("@img/icons/check.svg") no-repeat center;
      border: 1px solid rgba(144, 199, 94, 1);
   }

   .buy-form__sign:hover:before {
      border: 1px solid rgba(144, 199, 94, 1);
   }

   &__btn-wrap {
      display: flex;
      justify-content: center;
   }

   &__btn {
      color: rgba(255, 255, 255, 1);
      width: 100%;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      background-color: rgba(154, 207, 22, 1);
      letter-spacing: 1.3px;
      cursor: pointer;

      @media (max-width: 999px) {
         height: 52px;
         max-width: 351px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         height: 60px;
         max-width: 530px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         height: 70px;
         max-width: 560px;
      }

      @media (min-width: 1400px) and (max-width: 1699px) {
         height: 80px;
         max-width: 590px;
      }

      @media (min-width: 1600px) and (max-width: 1899px) {
         height: 90px;
         max-width: 620px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         height: 100px;
         max-width: 650px;
      }

      @media (min-width: 1920px) {
         line-height: 30px;
         max-width: 680px;
         height: 112px;
      }
   }
}
h1 {
   font-weight: 700;
   @media (max-width: 743px) {
      @include fl(34, 40);
      padding-left: percent(12, 375);
      padding-right: percent(12, 375);
      padding-top: 23px;
      text-align: center;
   }
   @media (min-width: 744px) and (max-width: 999px) {
      @include fl(24, 30);
   }
   @media (min-width: 744px) and (max-width: 1399px) {
      padding-left: percent(30, 744);
      padding-right: percent(30, 744);
      padding-top: percent(20, 744);
   }
   @media (min-width: 1000px) and (max-width: 1199px) {
      @include fl(32, 46);
   }
   @media (min-width: 1200px) and (max-width: 1399px) {
      @include fl(42, 56);
   }
   @media (min-width: 1400px) {
      @include fl(52, 66);
      padding-left: percent(270, 1920);
      padding-right: percent(270, 1920);
      padding-top: 60px;
   }
   @media (min-width: 1600px) and (max-width: 1799px) {
      @include fl(62, 76);
   }
   @media (min-width: 1800px) {
      @include fl(72, 86);
   }
}
.hero {
   // .hero__container
   &__container {
      @media (max-width: 739px) {
         padding-left: percent(12, 375);
         padding-right: percent(12, 375);
         padding-top: 24px;
      }

      @media (min-width: 740px) and (max-width: 1399px) {
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
         padding-top: 16px;
      }

      @media (min-width: 1000px) {
         display: flex;
         column-gap: 20px;
         padding-top: percent(60, 1920);

         > :first-child {
            flex: 0 0 58%;
         }

         > :last-child {
            flex: 0 0 calc(42% - 20px);
         }
      }

      @media (min-width: 1400px) {
         padding-left: percent(130, 1920);
         padding-right: percent(130, 1920);
      }
   }
}
.video-block {
   @media (max-width: 999px) {
      margin-bottom: 60px;
   }
   @media (min-width: 1000px) {
      margin-bottom: percent(120, 1920);
   }
   &__text {
      display: none;
   }
}

.propose {
   background-color: $dark;
   @media (max-width: 743px) {
      padding: 40px 0;
   }
   @media (min-width: 744px) and (max-width: 1199px) {
      padding: 30px 0;
   }
   @media (min-width: 1200px) and (max-width: 1399px) {
      padding: 60px 0;
   }
   @media (min-width: 1400px) and (max-width: 1699px) {
      padding: 90px 0;
   }
   @media (min-width: 1700px) {
      padding: 120px 0;
   }
   &__container {
      padding-left: percent(12,375);
      padding-right: percent(12,375);
      @media (min-width: 744px) {
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
      }
      @media (min-width: 1400px) {
         padding-left: percent(130,1920);
         padding-right: percent(130,1920);
      }
   }
   &__inner {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 743px) {
         flex-direction: column;
      }
   }
   &__pic {
      position: relative;
      padding-bottom: 100%;
      width: 100%;
      overflow: hidden;
      @media (max-width: 743px) {
         padding-bottom: 84.901%;
      }
      @media (min-width: 744px) and (max-width: 1399px) {
         padding-bottom: 42.691%;
         width: 88.033%;
         align-self: flex-start;
      }
      @media (min-width: 1400px) {
         padding-bottom: 46.627%;
         width: 54.94%;
         
      }
      img {
         position: absolute;
         top:0;
         left:0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position:center;
         @media (max-width: 743px) {
            width: 180%;
            object-position: -15px 52%;
         }
         @media (min-width: 744px) and (max-width: 1399px) {
            width: 190%;
            object-position: -30px 50%;
         }
         @media (min-width: 1400px) {
         width: 185%;
         object-position: -70px 52%;
         }
      }
   }
   &__content {
      max-width: 680px;
      width: 100%;
   }
   &__title {
      text-align: center;
      font-weight: 700;
      color: $light;
      @media (max-width: 799px) {
         @include fl(16, 20);
         margin-bottom: 24px;
      }
      @media (min-width: 800px) and (max-width: 1199px) {
         @include fl(18, 24);
         margin-bottom: 30px;
      }
      @media (min-width: 1200px) and (max-width: 1599px) {
         @include fl(22, 26);
         margin-bottom: 35px;
      }
      @media (min-width: 1600px) {
         @include fl(24, 30);
         margin-bottom: 40px;
      }
   }
   .propose-form__textarea {
      display: none;
   }
} 

.text-cards {
   margin-top: 50px;
   margin-bottom: 50px;
   // .text-cards__contaier

   &__contaier {
      @media (min-width: 1000px) and (max-width: 1399px) {
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
      }
      @media (min-width: 1400px) and (max-width: 1599px) {
         padding-left: percent(130, 1920);
         padding-right: percent(130, 1920);
      }
      @media (min-width: 1600px) {
         padding-left: percent(270, 1920);
         padding-right: percent(270, 1920);
      }
   }
}
.text-cards__swiper-body {
   @media (max-width: 743px) {
      padding-left: percent(12, 375);
      padding-right: percent(12, 375);
   }
   @media (min-width: 1000px) {
      border-left: 4px solid $green;
      border-right: 4px solid $green;
      border-bottom: 4px solid $green;
      padding-bottom: percent(80, 1920);
      padding-top: percent(150, 1920);
      margin-top: percent(-150, 1920);
      // max-width: 1380px;
      // margin-left: auto;
      // margin-right: auto;
   }

   // @media (min-width: 1000px) and (max-width: 1399px) {
   //    padding-left: percent(30, 744);
   //    padding-right: percent(30, 744);
   // }
   // @media (min-width: 1400px) {
   //    padding-left: percent(270, 1920);
   //    padding-right: percent(270, 1920);
   // }
}
.text-cards__swiper-head {
   @media (max-width: 743px) {
      padding-left: percent(12, 375);
      padding-right: percent(12, 375);
   }
   // @media (min-width: 1000px) and (max-width: 1399px) {
   //    padding-left: percent(30, 744);
   //    padding-right: percent(30, 744);
   // }
   // @media (min-width: 1400px) {
   //    padding-left: percent(270, 1920);
   //    padding-right: percent(270, 1920);
   // }
   .swiper-wrapper {
      align-items: center;
      align-items: baseline;
      @media (max-width: 999px) {
         padding-top: 30px;
         padding-bottom: 27px;
      }
      @media (min-width: 1000px) {
         padding-top: percent(93, 1380);
         padding-bottom: percent(84, 1380);
      }
   }
}
.text-cards-slide-head {
   position: relative;
   z-index: 2;
   transition: all 0.3s ease;
   @media (max-width: 743px) {
      padding-top: 18px;
      padding-bottom: 18px;
   }
   @media (min-width: 744px) and (max-width: 999px) {
      padding-top: 27px;
      padding-bottom: 27px;
   }
   @media (min-width: 1000px) {
      // padding-top: percent(66, 1380);
      // padding-bottom: percent(66, 1380);
      padding-top: 40px;
      padding-bottom: 40px;
   }
   @media (min-width: 1400px) {
      padding-bottom: 50px;
      padding-top: 50px;
   }
   @media (min-width: 1800px) {
      padding-top: 66px;
      padding-bottom: 66px;
   }
   &:after,
   &:before {
      content: "";
      position: absolute;
      top: 0;
      border-bottom-width: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      display: none;
      @media (max-width: 743px) {
         border-left-width: 3px !important;
         border-right-width: 3px !important;
         border-top-width: 8px !important;
      }
      @media (min-width: 744px) and (max-width: 999px) {
         border-left-width: 5px !important;
         border-right-width: 5px !important;
         border-top-width: 14px !important;
      }
      @media (min-width: 1000px) {
         border-left-width: 6px !important;
         border-right-width: 6px !important;
         border-top-width: 14.5px !important;
      }
      @media (min-width: 1400px) {
         border-top-width: 16.5px !important;
      }
      @media (min-width: 1800px) {
         border-left-width: 8px !important;
         border-right-width: 8px !important;
         border-top-width: 20.5px !important;
      }
   }
   // .text-cards-slide-head_green
   &_green {
      background-color: $green;
      &:first-child {
         &:after {
            left: 100%;
            border: 0 solid transparent;
            border-left: solid #84b414;
         }
      }
      &:last-child {
         &:before {
            right: 100%;
            border: 0 solid transparent;
            border-right: solid #84b414;
         }
      }
   }

   // .text-cards-slide-head_orange

   &_orange {
      background-color: $orange;
      &:after {
         left: 100%;
         border: 0 solid transparent;
         border-left: solid #ffa63b;
      }
      &:before {
         right: 100%;
         border: 0 solid transparent;
         border-right: solid #ffa63b;
      }
   }

   // .text-cards-slide-head__title

   &__title {
      text-align: center;
      font-weight: 700;
      color: $light;
      @media (max-width: 467px) {
         @include fl(8, 12);
      }
      @media (min-width: 468px) and (max-width: 743px) {
         @include fl(11, 18);
      }
      @media (min-width: 744px) and (max-width: 999px) {
         @include fl(16, 22);
      }
      @media (min-width: 1000px) and (max-width: 1199px) {
         @include fl(18, 24);
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
         @include fl(20, 26);
      }
      @media (min-width: 1400px) and (max-width: 1599px) {
         @include fl(22, 28);
      }
      @media (min-width: 1600px) and (max-width: 1799px) {
         @include fl(24, 30);
      }
      @media (min-width: 1800px) {
         @include fl(26, 32);
      }
   }
   &.swiper-slide {
      &-thumb-active {
         &:after,
         &:before {
            display: block;
         }
         @media (max-width: 743px) {
            transform: translateY(-4px) scale(1.144, 1.25);
         }
         @media (min-width: 744px) and (max-width: 999px) {
            transform: translateY(-6px) scale(1.315);
            border-radius: 0 0 24px 24px;
         }
         @media (min-width: 1000px) {
            transform: translateY(-6px) scale(1.13, 1.219);
            border-radius: 0 0 24px 24px;
         }
         z-index: 3;
         box-shadow: 0 4px 14px rgba(69, 95, 46, 0.4);
         .text-cards-slide-head__title {
            @media (max-width: 743px) {
               transform: scale(1.3, 1.2);
            }
            @media (min-width: 744px) and (max-width: 999px) {
               // transform: scale(1.3, 1.2);
            }
            @media (min-width: 1000px) and (max-width: 1799px) {
               transform: scale(0.87, 0.89);
            }
            @media (min-width: 1800px) {
               transform: translateY(7px) scale(0.87, 0.89);
            }
         }
      }
   }
}
.text-cards-slide-body {
   // .text-cards-slide-body__title

   &__title {
      font-weight: 700;
      color: $dark;
      @media (max-width: 999px) {
         @include fl(16, 22);
         margin-bottom: 12px;
         padding-left: 10px;
         padding-right: 10px;
      }
      @media (min-width: 1000px) {
         margin-bottom: 30px;
         padding-left: percent(40, 460);
         padding-right: percent(40, 460);
      }
      @media (min-width: 1000px) and (max-width: 1199px) {
         @include fl(18, 24);
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
         @include fl(20, 26);
      }
      @media (min-width: 1400px) and (max-width: 1599px) {
         @include fl(22, 28);
      }
      @media (min-width: 1600px) {
         @include fl(24, 30);
      }
   }

   // .text-cards-slide-body__text

   &__text {
      color: $dark;
      @media (max-width: 999px) {
         @include fl(16, 22);
         padding-left: 10px;
         padding-right: 10px;
      }
      @media (min-width: 1000px) {
         padding-left: percent(40, 460);
         padding-right: percent(40, 460);
      }
      @media (min-width: 1000px) and (max-width: 1199px) {
         @include fl(18, 24);
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
         @include fl(20, 26);
      }
      @media (min-width: 1400px) and (max-width: 1599px) {
         @include fl(22, 28);
      }
      @media (min-width: 1600px) {
         @include fl(24, 30);
      }
   }
}
