.form {
   width: 100%;
   max-width: 100%;
   background-color: rgba(16, 16, 16, 1);

   &__container {
      margin: 0 auto;
      max-width: 1750px;
   }

   &__main-wrap {
      display: grid;
      grid-template-columns: 1fr;
      padding: 40px 3.1% 40px;

      @media (min-width: 744px) {
         display: flex;
      }

      @media (min-width: 744px) and (max-width: 1199px) {
         gap: 1em;
         padding: 60px 2.55%;
      }

      @media (min-width: 1200px) and (max-width: 1599px) {
         gap: 2em;
         padding: 80px 2.55%;
      }

      @media (min-width: 1600px) and (max-width: 1919px) {
         gap: 3em;
         padding: 100px 2.55%;
      }

      @media (min-width: 1920px) {
         padding: 120px 2.55%;
         gap: 4em;
      }
   }

   &__block-picture {
      margin-bottom: 26px;

      @media (min-width: 744px) and (max-width: 999px) {
         flex: 1 1 50%;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         flex: 1 1 53%;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         flex: 1 1 56%;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         flex: 1 1 59%;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         flex: 1 1 62%;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         flex: 1 1 64%;
      }

      @media (min-width: 1920px) {
         flex: 1 1 66.6%;
      }
   }

   &__picture {
      position: relative;
      padding-bottom: 84.5%;
      overflow: hidden;

      img {
         position: absolute;
         object-fit: cover;
         width: 185%;
         height: 185%;
         top: 0;
         left: 0;
         object-position: 50% 57%;
         transform: translate(-31%, -50%);
         top: 50%;
         left: 50%;
      }
   }

   &__block-content {
      display: grid;
      grid-template-columns: 1fr;

      @media (min-width: 744px) {
         flex: 1 1 50%;
         display: flex;
         flex-direction: column;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         padding-top: 15px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         padding-top: 30px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         padding-top: 60px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         padding-top: 90px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         padding-top: 120px;
      }

      @media (min-width: 1920px) {
         padding-top: 146px;
      }
   }

   &__subtitle {
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
      justify-self: center;

      @media (min-width: 744px) {
         align-self: center;
      }

      @media (max-width: 999px) {
         font-size: 16px;
         line-height: 20px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 19px;
         line-height: 22px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 20px;
         line-height: 24px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         font-size: 21px;
         line-height: 26px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         font-size: 22px;
         line-height: 28px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         font-size: 23px;
         line-height: 29px;
      }

      @media (min-width: 1920px) {
         font-size: 24px;
         line-height: 30px;
         padding-left: 5px;
         margin-bottom: 30px;
      }
   }

   &__wrap {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 4px;

      @media (min-width: 1920px) {
         padding-left: 4px;
      }
   }

   &__field {
      position: relative;
      min-height: 45px;
      width: 100%;
      margin-bottom: 21px;

      @media (min-width: 1920px) {
         margin-bottom: 35px;
      }
   }

   &__field:hover {
      .form__field::before {
         background-color: rgba(0, 0, 0, 0.6);
      }

      .form__lea::placeholder {
         color: rgba(255, 255, 255, 0.8);
      }
   }

   &__field:nth-child(3) {
      margin-bottom: 41px;

      @media (min-width: 1920px) {
         margin-bottom: 44px;
      }
   }

   &__field:nth-child(4) {
      margin-bottom: 2px;

      @media (min-width: 1920px) {
         min-height: max-content;
         margin-bottom: 22px;
      }
   }

   &__field:not(div:nth-last-of-type(2))::before {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.4);
      width: 100%;
      height: 1px;
      bottom: 0;
   }

   &__lea {
      border: none;
      background: transparent;
      width: 100%;
      height: 50px;
      padding-top: 4px;
      caret-color: rgba(144, 199, 94, 1);

      @media (min-width: 1920px) {
         padding-top: 0;
         padding-bottom: 3px;
      }
   }

   &__lea-check {
      display: none;
   }

   &__lea::placeholder {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6);

      @media (max-width: 999px) {
         font-size: 14px;
         line-height: 18px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 15px;
         line-height: 20px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 16px;
         line-height: 22px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         font-size: 18px;
         line-height: 24px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         font-size: 20px;
         line-height: 26px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         font-size: 22px;
         line-height: 28px;
      }

      @media (min-width: 1920px) {
         font-size: 24px;
         line-height: 30px;
      }
   }

   &__lea[value] {
      color: rgba(255, 255, 255, 0.4);
   }

   &__sign {
      color: rgba(255, 255, 255, 1);
      user-select: none;
      font-weight: 400;
      line-height: 16px;
      position: relative;
      display: inline-block;
      padding-left: 36px;
      cursor: pointer;

      @media (max-width: 999px) {
         font-size: 12px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 14px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 15px;
      }

      @media (min-width: 1400px) {
         font-size: 16px;
      }

      @media (min-width: 1920px) {
         padding-left: 40px;
      }
   }

   &__sign::before {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 24px;
      height: 24px;
      border: 1px solid rgba(255, 255, 255, 1);
      box-sizing: border-box;
      left: 0;
      top: -4px;
      cursor: pointer;

      @media (min-width: 1920px) {
         width: 26px;
         height: 26px;
         top: -6px;
      }
   }

   &__lea-check:checked + &__sign:before {
      background: url("@img/icons/check.svg") no-repeat center;
      border: 1px solid rgba(144, 199, 94, 1);
   }

   .form__sign:hover:before {
      border: 1px solid rgba(144, 199, 94, 1);
   }

   &__btn-wrap {
      display: flex;
      justify-content: center;
   }

   &__btn {
      color: rgba(255, 255, 255, 1);
      width: 100%;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      background-color: rgba(154, 207, 22, 1);
      letter-spacing: 1.3px;
      cursor: pointer;

      @media (max-width: 999px) {
         height: 52px;
         max-width: 351px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         height: 60px;
         max-width: 530px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         height: 70px;
         max-width: 560px;
      }

      @media (min-width: 1400px) and (max-width: 1699px) {
         height: 80px;
         max-width: 590px;
      }

      @media (min-width: 1600px) and (max-width: 1899px) {
         height: 90px;
         max-width: 620px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         height: 100px;
         max-width: 650px;
      }

      @media (min-width: 1920px) {
         line-height: 30px;
         max-width: 680px;
         height: 112px;
      }
   }
}

.fear {
   .fear__icons {
      display: flex;
   }

   img {
      width: 18px;
      height: 16px;

      @media (min-width: 1920px) {
         width: 26px;
         height: 24px;
      }
   }
}

.difficulty {
   img {
      width: 12px;
      height: 20px;
      transform: scale(1.2);

      @media (min-width: 1920px) {
         width: 20px;
         height: 17px;
      }
   }
}

// ! Hero === Hero === Hero === Hero === Hero === Hero === Hero === Hero === Hero
// ! Hero === Hero === Hero === Hero === Hero === Hero === Hero === Hero === Hero
.hero {
   // .hero__container
   &__container {
      @media (max-width: 739px) {
         padding-left: percent(12, 375);
         padding-right: percent(12, 375);
         padding-top: 40px;
      }

      @media (min-width: 740px) and (max-width: 1399px) {
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
         padding-top: 60px;
      }

      @media (min-width: 1000px) {
         display: flex;
         column-gap: 20px;
         padding-top: percent(130, 1920);

         > :first-child {
            flex: 0 0 58%;
         }

         > :last-child {
            flex: 0 0 calc(42% - 20px);
         }
      }

      @media (min-width: 1400px) {
         padding-left: percent(130, 1920);
         padding-right: percent(130, 1920);
      }
   }
}

// ! Pop up Hero === Pop up Hero === Pop up Hero === Pop up Hero === Pop up Hero
// ! Pop up Hero === Pop up Hero === Pop up Hero === Pop up Hero === Pop up Hero
// ! Pop up Hero === Pop up Hero === Pop up Hero === Pop up Hero === Pop up Hero

.popup-hero {
   &.active {
      z-index: 100;
      opacity: 1;
      pointer-events: all;
   }

   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.9);
   width: 100vw;
   height: 100vh;
   z-index: 0;
   opacity: 0;
   pointer-events: none;

   &__container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 100px; // ! отступы от краев
   }

   &__wrap {
      overflow: auto;
      max-height: 100%; // ! Запрещаем блоку быть большего размера чем задано родителем (padding: 200px)
      background-color: rgba(233, 233, 233, 0.33);
      padding: 50px;

      p {
         @include fl(24, 32);
         color: #fff;
      }
   }
}

// ! Prize === Prize === Prize === Prize === Prize === Prize === Prize === Prize === Prize
// ! Prize === Prize === Prize === Prize === Prize === Prize === Prize === Prize === Prize
// ! Prize === Prize === Prize === Prize === Prize === Prize === Prize === Prize === Prize

.prize {
   width: 100%;
   max-width: 100%;
   background-color: rgba(16, 16, 16, 1);

   &__container {
      margin: 0 auto;
      max-width: 1750px;
   }

   &__wrap {
      @media (max-width: 743px) {
         display: flex;
         flex-direction: column;
         padding: 31px 3.1% 50px;
      }

      @media (min-width: 744px) {
         display: grid;
         gap: 0.5em;
      }

      @media (min-width: 744px) and (max-width: 999px) {
         column-gap: 1.47em;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         column-gap: 2.5em;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         column-gap: 4em;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         column-gap: 5em;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         column-gap: 6em;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         column-gap: 8em;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         padding: 31px 4% 50px;
         grid-template-columns: 45.2% 1fr;
      }

      @media (min-width: 1920px) {
         grid-template-columns: 49.4% 1fr;
         padding: 105px 2.5% 100px 2.55%;
         column-gap: 10em;
         padding-top: 105px;
         padding-bottom: 100px;
      }
   }

   &__block-text {
      display: flex;
      flex-direction: column;
      grid-column: span 2;

      @media (max-width: 743px) {
         margin-bottom: 23px;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         margin-bottom: 0;
      }

      @media (min-width: 1000px) {
         grid-column: 2 / 3;
      }

      @media (min-width: 1920px) {
         padding-top: 16px;
         margin-bottom: 31px;
      }
   }

   &__text {
      font-weight: 400;
      color: rgba(255, 255, 255, 1);

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 17px;
         line-height: 25px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 18px;
         line-height: 26px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         font-size: 19px;
         line-height: 27px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         font-size: 20px;
         line-height: 28px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         font-size: 22px;
         line-height: 29px;
      }

      @media (max-width: 1919px) {
         margin-bottom: 16px;
         font-size: 16px;
         line-height: 22px;
      }

      @media (min-width: 1920px) {
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 30px;
      }
   }

   &__text:nth-child(2) {
      margin: 0;
   }

   &__block-picture {
      margin-bottom: 9px;

      @media (min-width: 744px) and (max-width: 1099px) {
         padding-top: 15px;
      }

      @media (max-width: 999px) {
         grid-row: 2 / 3;
      }

      @media (min-width: 1000px) {
         grid-row: 1 / 4;
      }
   }

   &__picture {
      position: relative;

      @media (max-width: 743px) {
         padding-bottom: 93.7%;
      }

      @media (min-width: 744px) and (max-width: 1919px) {
         padding-bottom: 94.5%;
      }

      @media (min-width: 1920px) {
         padding-bottom: 94.3%;
      }

      img {
         position: absolute;
         object-fit: cover;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
   }

   &__block-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      grid-column: 2 / 3;
      width: 100%;
   }

   &__list {
      display: flex;
      flex-direction: column;
      margin-bottom: 11px;

      @media (min-width: 1920px) {
         margin-bottom: 65px;
      }
   }

   &__item {
      padding: 16px 0;
      position: relative;

      svg,
      i {
         position: absolute;
         left: 0;
         top: -1px;

         @media (min-width: 1920px) {
            top: -6px;
         }
      }
   }

   &__item:first-child {
      padding: 16px 0 14px;

      @media (min-width: 1920px) {
         order: 2;
         padding: 37px 0 39px;
      }

      svg {
         @media (max-width: 999px) {
            width: 24px;
            height: 24px;
         }

         @media (min-width: 1000px) and (max-width: 1199px) {
            width: 25px;
            height: 25px;
         }

         @media (min-width: 1200px) and (max-width: 1399px) {
            width: 26px;
            height: 26px;
         }

         @media (min-width: 1400px) and (max-width: 1599px) {
            width: 27px;
            height: 27px;
         }

         @media (min-width: 1600px) and (max-width: 1799px) {
            width: 28px;
            height: 28px;
         }

         @media (min-width: 1800px) and (max-width: 1919px) {
            width: 29px;
            height: 29px;
         }

         @media (min-width: 1920px) {
            width: 45px;
            height: 45px;
         }

         ellipse {
            stroke: rgba(255, 255, 255, 1);
         }

         circle {
            stroke: rgba(255, 255, 255, 1);
         }
      }

      .prize__number-desk {
         padding-top: 6px;
      }
   }

   &__item:nth-child(2) {
      @media (max-width: 1919px) {
         padding: 25px 0 14px;
      }

      @media (min-width: 1920px) {
         order: 1;
         padding: 37px 0 40px;
      }

      svg {
         @media (min-width: 1000px) and (max-width: 1199px) {
            width: 25px;
            height: 25px;
         }

         @media (min-width: 1200px) and (max-width: 1399px) {
            width: 26px;
            height: 26px;
         }

         @media (min-width: 1400px) and (max-width: 1599px) {
            width: 27px;
            height: 27px;
         }

         @media (min-width: 1600px) and (max-width: 1799px) {
            width: 28px;
            height: 28px;
         }

         @media (min-width: 1800px) and (max-width: 1919px) {
            width: 29px;
            height: 29px;
         }

         @media (min-width: 1920px) {
            width: 45px;
            height: 45px;
         }

         ellipse {
            stroke: rgba(255, 255, 255, 1);
         }

         path {
            fill: rgba(255, 255, 255, 1);
         }
      }

      .prize__number-desk {
         padding-top: 7px;
      }
   }

   &__item:nth-child(3) {
      @media (max-width: 1919px) {
         padding: 25px 0 14px;
      }

      @media (min-width: 1920px) {
         order: 3;
         padding: 37px 0 35px;
      }

      i {
         color: rgba(255, 255, 255, 1);
         font-size: 21px;
         top: 0;
         left: 2px;

         @media (min-width: 1000px) and (max-width: 1199px) {
            font-size: 22px;
         }

         @media (min-width: 1200px) and (max-width: 1399px) {
            font-size: 23px;
         }

         @media (min-width: 1400px) and (max-width: 1599px) {
            font-size: 24px;
         }

         @media (min-width: 1600px) and (max-width: 1799px) {
            font-size: 25px;
         }

         @media (min-width: 1800px) and (max-width: 1919px) {
            font-size: 26px;
         }

         @media (min-width: 1920px) {
            font-size: 41px;
            top: -4px;
         }
      }

      .prize__number-desk {
         padding-top: 6px;
      }
   }

   &__item:not(li:last-child)::after {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 1px;
      bottom: 0;
   }

   @media (min-width: 1920px) {
      &__item::after {
         content: "";
         position: absolute;
         background-color: rgba(255, 255, 255, 0.2);
         width: 100%;
         height: 1px;
         bottom: 0;
      }

      &__item:nth-child(2)::before {
         content: "";
         position: absolute;
         background-color: rgba(255, 255, 255, 0.2);
         width: 100%;
         height: 1px;
         top: 0;
      }
   }

   &__item-wrap {
      display: flex;
      justify-content: space-between;
      padding-left: 36px;
      padding-right: 1px;
      position: relative;

      @media (min-width: 1920px) {
         padding-left: 65px;
      }
   }

   &__par {
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
      padding-top: 2px;

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 19px;
         line-height: 22px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 20px;
         line-height: 23px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         font-size: 21px;
         line-height: 24px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         font-size: 22px;
         line-height: 25px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         font-size: 23px;
         line-height: 26px;
      }

      @media (max-width: 1919px) {
         font-size: 14px;
         line-height: 27px;
      }

      @media (min-width: 1920px) {
         font-size: 24px;
         line-height: 28.8px;
      }
   }

   &__number {
      font-weight: 700;
      color: rgba(255, 255, 255, 1);

      @media (min-width: 1000px) and (max-width: 1199px) {
         font-size: 19px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         font-size: 20px;
      }

      @media (min-width: 1400px) and (max-width: 1599px) {
         font-size: 21px;
      }

      @media (min-width: 1600px) and (max-width: 1799px) {
         font-size: 22px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         font-size: 23px;
      }

      @media (max-width: 1919px) {
         display: inline-block;
         font-size: 18px;
         line-height: 22px;
      }

      @media (min-width: 1920px) {
         font-size: 24px;
         line-height: 22px;
         display: none;
      }
   }

   &__number-desk {
      @media (max-width: 1919px) {
         display: none;
      }

      @media (min-width: 1920px) {
         display: inline-block;
         color: rgba(255, 255, 255, 1);
         font-weight: 700;
         font-size: 24px;
         line-height: 22px;
      }
   }
   // .prize
   &__btn-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__btn {
      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      background-color: rgba(154, 208, 24, 1);
      width: 100%;
      cursor: pointer;
      letter-spacing: 1.3px;

      @media (max-width: 999px) {
         height: 52px;
         max-width: 351px;
      }

      @media (min-width: 1000px) and (max-width: 1199px) {
         height: 60px;
         max-width: 530px;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
         height: 70px;
         max-width: 560px;
      }

      @media (min-width: 1400px) and (max-width: 1699px) {
         height: 80px;
         max-width: 590px;
      }

      @media (min-width: 1600px) and (max-width: 1899px) {
         height: 90px;
         max-width: 620px;
      }

      @media (min-width: 1800px) and (max-width: 1919px) {
         height: 100px;
         max-width: 650px;
      }

      @media (min-width: 1920px) {
         max-width: 680px;
         height: 112px;
      }
   }

   @media (min-width: 744px) {
      &__btn:hover {
         filter: drop-shadow(0px 4px 14px rgba(104, 139, 16, 0.6));
      }

      &__btn:active {
         background-color: rgba(154, 207, 22, 0.6);
         filter: none;
      }
   }
}

// !  Gallery-Form === Gallery-Form === Gallery-Form === Gallery-Form === Gallery-Form
// !  Gallery-Form === Gallery-Form === Gallery-Form === Gallery-Form === Gallery-Form
// !  Gallery-Form === Gallery-Form === Gallery-Form === Gallery-Form === Gallery-Form

// ! STEP-TITLE
.step-title {
   text-align: center;

   @media (max-width: 999px) {
      @include fl(24, 30);
   }

   @media (min-width: 1000px) and (max-width: 1199px) {
      @include fl(26, 34);
   }

   @media (min-width: 1200px) and (max-width: 1399px) {
      @include fl(29, 37);
   }

   @media (min-width: 1400px) and (max-width: 1599px) {
      @include fl(32, 40);
   }

   @media (min-width: 1600px) {
      @include fl(34, 42);
   }

   span {
      font-weight: 500;

      @media (max-width: 1399px) {
         margin-right: 13px;
      }

      @media (min-width: 1400px) {
         margin-right: 20px;
      }
   }
}
//
// ! Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1
// ! Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1
// ! Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1 === Step 1
.step1 {
   &__container {
      @media (max-width: 739px) {
         padding-top: 60px;
         padding-left: percent(12, 375);
         padding-right: percent(12, 375);
      }
      @media (min-width: 740px) and (max-width: 999px) {
         padding-top: 73px;
      }
      @media (min-width: 1000px) {
         padding-top: percent(120, 1920);
         padding-left: percent(130, 1920);
         padding-right: percent(130, 1920);
      }
   }
   &__head {
      text-align: center;
   }
   &__title {
      margin-bottom: 16px;
   }
   &__swiper {
      width: 100%;
      overflow: unset;
   }
   &__prev,
   &__next {
      svg {
         fill: transparent;
         path {
            stroke: #000000;
         }
      }
   }
}

// ! Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3
// ! Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3
// ! Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3 === Step 3
.step3 {
   &__container {
      @media (max-width: 739px) {
         padding-left: percent(12, 375);
         padding-right: percent(12, 375);
         padding-top: 34px;
      }

      @media (min-width: 740px) and (max-width: 999px) {
         padding-left: percent(34, 744);
         padding-right: percent(34, 744);
         padding-top: 40px;
      }

      @media (min-width: 1000px) {
         padding-left: 15px;
         padding-right: 15px;
         max-width: 990px;
         margin: 0 auto;
         padding-top: percent(60, 1920);
      }
   }

   &__title {
      @media (max-width: 999px) {
         margin-bottom: 15px;
      }

      @media (min-width: 1000px) {
         margin-bottom: 24px;
      }
   }
   &__prev,
   &__next {
      svg {
         fill: transparent;
         path {
            stroke: #000000;
         }
      }
   }
   @media (max-width: 743px) {
      &__block-btn {
         position: relative;
      }

      &__btn {
         z-index: 10;
         position: absolute;
         width: 25px;
         height: 25px;
         top: 13px;
         cursor: pointer;

         svg {
            cursor: pointer;

            path {
               stroke: rgba(16, 16, 16, 1);
            }
         }
      }

      &__btn-left {
         left: -8px;
      }

      &__btn-right {
         right: -7px;
      }
   }

   @media (min-width: 744px) {
      &__block-btn {
         display: none;
      }
   }
}

// ! Map-block === Map-block === Map-block === Map-block === Map-block
// ! Map-block === Map-block === Map-block === Map-block === Map-block
// ! Map-block === Map-block === Map-block === Map-block === Map-block

.map-block {
   &__container {
      @extend %container;

      @media (max-width: 999px) {
         padding-top: 60px;
      }
      @media (min-width: 1000px) {
         padding-top: percent(120, 1920);
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
      }
   }
   &__title {
      font-weight: 700;
      @media (max-width: 560px) {
         text-align: center;
      }
      @media (max-width: 999px) {
         margin-bottom: 24px;
         @include fl(24, 30);
      }
      @media (min-width: 1000px) {
         padding-bottom: percent(50, 1920);
         @include fl(26);
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
         @include fl(28);
      }
      @media (min-width: 1400px) and (max-width: 1599px) {
         @include fl(30);
      }
      @media (min-width: 1600px) and (max-width: 1799px) {
         @include fl(32);
      }
      @media (min-width: 1800px) {
         @include fl(36);
      }
   }
   &__map {
      position: relative;
      @media (max-width: 739px) {
         padding-bottom: percent(176, 351);
      }
      @media (min-width: 740px) {
         padding-bottom: percent(342, 684);
      }
      @media (min-width: 1000px) {
         padding-bottom: percent(833, 1660);
      }
      iframe {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         &:active {
            iframe + i {
               display: none;
            }
         }
      }
      i {
         position: absolute;
         z-index: 1;
         pointer-events: none;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         @media (max-width: 739px) {
            @include fz(23);
         }
         @media (min-width: 740px) and (max-width: 999px) {
            @include fz(46);
         }
         @media (min-width: 1000px) {
            @include fz(50);
         }
         @media (min-width: 1800px) {
            @include fz(55);
         }
      }
   }
}
