@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
b,
i,
ol,
ul,
li,
form,
aside,
footer,
header,
menu,
nav,
section,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: inherit;
}

input::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus {
  outline: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.header__container {
  padding-left: 3.2%;
  padding-right: 3.2%;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ingame";
  src: url("../fonts/ingame.ttf?geesjz") format("truetype"), url("../fonts/ingame.woff?geesjz") format("woff"), url("../fonts/ingame.svg?geesjz#ingame") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ingame" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar:before {
  content: "\e900";
}

.cart:before {
  content: "\e901";
}

.eye:before {
  content: "\e902";
}

.facebook:before {
  content: "\e903";
  color: #90c75e;
}

.genre:before {
  content: "\e904";
  color: #fff;
}

.genre-ask:before {
  content: "\e905";
  color: #fff;
}

.heart:before {
  content: "\e906";
  color: #9acf16;
}

.instagram:before {
  content: "\e907";
  color: #90c75e;
}

.lightning:before {
  content: "\e908";
  color: #fff;
}

.location:before {
  content: "\e909";
  color: #9acf16;
}

.lock:before {
  content: "\e90a";
  color: #9acf16;
}

.logo .path1:before {
  content: "\e90b";
  color: rgb(16, 16, 16);
}

.logo .path2:before {
  content: "\e90c";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path3:before {
  content: "\e90d";
  margin-left: -3.9375em;
  color: rgb(154, 207, 22);
}

.logo .path4:before {
  content: "\e90e";
  margin-left: -3.9375em;
  color: rgb(154, 207, 22);
}

.logo .path5:before {
  content: "\e90f";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path6:before {
  content: "\e910";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path7:before {
  content: "\e911";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path8:before {
  content: "\e912";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path9:before {
  content: "\e913";
  margin-left: -3.9375em;
  color: rgb(154, 207, 22);
}

.logo .path10:before {
  content: "\e914";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path11:before {
  content: "\e915";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path12:before {
  content: "\e916";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.phone:before {
  content: "\e917";
  color: #fff;
}

.phone-stroke:before {
  content: "\e918";
}

.play:before {
  content: "\e919";
  color: #9acf16;
}

.pulse:before {
  content: "\e91a";
  color: #fff;
}

.puzzle-fill:before {
  content: "\e91b";
  color: #fff;
}

.puzzle-stroke:before {
  content: "\e91c";
  color: #fff;
}

.telegram:before {
  content: "\e91d";
  color: #fff;
}

.trash:before {
  content: "\e91e";
}

.triangle:before {
  content: "\e91f";
  color: #9acf16;
}

.wallet:before {
  content: "\e920";
}

.watch:before {
  content: "\e921";
}

.youtube:before {
  content: "\e922";
  color: #90c75e;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  background-color: grey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.header {
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.header__body {
  min-height: 216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.header__logo {
  z-index: 2;
  font-size: 1.875rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header-action {
  flex: 1 1 auto;
  max-width: 150px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.header-action li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-action li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* 
    &:hover .burger__wrapper {
       span,
       &:before,
       &:after {
          background-color: orange; 
       }
    }
  */
}

.burger:hover {
  transform: scale(1.2);
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translateY(-150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 100%;
    transform: translateY(-300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translateY(-150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translateY(0);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translateY(-300%);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }
}

.footer {
  background-color: #11140e;
}

.footer__container {
  padding-left: 3.2%;
  padding-right: 3.2%;
  color: #90c75e;
}

.footer-top {
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-top__first {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 12px;
  column-gap: 12px;
  row-gap: 40px;
  margin-bottom: 34px;
}

.footer-top__first :nth-child(4) {
  grid-column: span 2;
}

.footer-top__contacts li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-top__contacts li:last-child {
  margin-top: -4px;
}

.footer-top__contacts p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
}

.footer-top__contacts a {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.footer-top__contacts h5 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.footer-top__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 26px;
  column-gap: 26px;
}

.footer-top__socials i {
  font-size: 1.125rem;
  line-height: 1;
}

.footer-top__navigation {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-top__navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 24px;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 500;
}

.footer-top__second {
  margin-bottom: 36px;
}

.footer-top__working-time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.footer-top__working-time ul {
  padding-right: 24px;
  position: relative;
}

.footer-top__working-time ul:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #90c75e;
}

.footer-top__working-time ul li p {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  white-space: nowrap;
}

.footer-top__working-time ul + p {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  padding-left: 24px;
}

.footer-top__working-time ul + p span {
  display: block;
}

.footer-top__subscribe {
  text-align: center;
}

.footer-top__subscribe p {
  margin-bottom: 16px;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 500;
}

.footer-top__subscribe div {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.footer-top__subscribe a:first-child {
  display: inline-block;
  background-color: #90c75e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.footer-top__subscribe a:last-child {
  position: relative;
}

.footer-top__subscribe a:last-child:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #90c75e;
}

.footer-top__third {
  display: grid;
  justify-items: center;
  row-gap: 40px;
}

.footer-top__proposal {
  text-align: center;
}

.footer-top__proposal h5 {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 12px;
}

.footer-top__proposal ul li {
  font-size: 0.875rem;
  line-height: 1.5714285714;
}

.footer-top__proposal ul li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-bottom {
  padding-top: 36px;
  padding-bottom: 24px;
  position: relative;
}

.footer-bottom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 109.6%;
  transform: translateX(-3.2%);
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-bottom__list {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 24px;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.footer-bottom__copy {
  text-align: center;
  font-size: 0.625rem;
  line-height: 1.4;
}

.pop-up {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.pop-up.active {
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 200px;
}

.pop-up__body {
  overflow: auto;
  max-height: 100%;
  background-color: rgba(233, 233, 233, 0.33);
  padding: 50px;
}

.pop-up__body p {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #fff;
}

.spoiler {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(180deg);
}

.btn {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  background-color: rgb(111, 56, 199);
  width: 100px;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover:after {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:active:after {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn.modify {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
}

.card {
  transition: all 1s ease;
  box-shadow: 0px 4px 24px rgba(94, 135, 15, 0.6);
  background-color: lightgrey;
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid #9ad018;
}

.card:hover .card {
  border-bottom: 4px solid rgba(153, 208, 24, 0.9);
}

.card:hover .card__content {
  border-left: 4px solid rgba(153, 208, 24, 0.9);
  border-right: 4px solid rgba(153, 208, 24, 0.9);
  top: 0 !important;
}

.card:hover .card__content:before {
  background-color: #9ad018;
  opacity: 0.9;
}

.card:hover .card__preview {
  color: #fff;
}

.card:hover .card__preview .card__about {
  display: none;
}

.card:hover .card__title {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  margin-bottom: 4px;
}

.card:hover .card__text {
  font-size: 0.875rem;
  line-height: 1.25;
}

.card:hover .card__body-wrapper {
  height: auto;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card__content {
  border-left: 4px solid #9ad018;
  border-right: 4px solid #9ad018;
  transition: top 0.9s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 0;
  transition: all 0.5s ease;
  opacity: 1;
}

.card__preview {
  color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 13px;
  padding-right: 20px;
}

.card__preview > div {
  flex: 0 0 50%;
}

.card__preview .card__about {
  padding-top: 4px;
  display: grid;
  row-gap: 7px;
}

.card__preview .card__about li {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.card__preview .card__about li:nth-child(2) :first-child {
  align-self: flex-start;
}

.card__preview .card__about li:nth-child(2) span {
  display: inline-block;
  margin-bottom: 3px;
}

.card__preview .card__about li span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  font-size: 14px;
}

.card__preview .card__about li p {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
}

.card__preview .card__about li:last-child {
  padding-top: 3px;
}

.card__preview .card__about li:last-child i {
  padding-left: 2px;
  font-size: 1.125rem;
  line-height: 1.25;
}

.card__preview .card__about li:last-child p {
  font-family: "PTSans", sans-serif;
}

.card__title {
  padding-top: 3px;
  font-weight: 700;
  margin-bottom: 6px;
}

.card__body-wrapper {
  overflow: hidden;
  transition: height 1s ease;
  height: 0;
}

.card__body-wrapper .card__about {
  display: grid;
  row-gap: 13px;
  margin-bottom: 15px;
}

.card__body-wrapper .card__about li {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
  column-gap: 6px;
}

.card__body-wrapper .card__about li:first-child {
  transform: translateY(2px);
}

.card__body-wrapper .card__about li:first-child ellipse {
  stroke: #fff;
}

.card__body-wrapper .card__about li:first-child path {
  fill: #fff;
}

.card__body-wrapper .card__about li:nth-child(2) {
  transform: translateY(-2px);
}

.card__body-wrapper .card__about li:nth-child(2) circle {
  stroke: #fff;
}

.card__body-wrapper .card__about li:nth-child(2) path {
  fill: #fff;
}

.card__body-wrapper .card__about li:nth-child(2) :first-child {
  align-self: flex-start;
}

.card__body-wrapper .card__about li:nth-child(2) span {
  display: inline-block;
}

.card__body-wrapper .card__about li:last-child svg {
  stroke: #fff;
}

.card__body-wrapper .card__about li :first-child {
  flex: 0 0 24px;
  height: 24px;
}

.card__body-wrapper .card__about li span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li p {
  font-weight: 500;
}

.card__body-wrapper .card__about li p:first-of-type {
  font-size: 0.875rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li p:last-of-type {
  font-size: 0.75rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li:last-child {
  padding-top: 3px;
}

.card__body-wrapper .card__about li:last-child i {
  padding-left: 2px;
  font-size: 1.125rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li:last-child p {
  font-family: "PTSans", sans-serif;
}

.card__body {
  position: relative;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 46px;
  padding-top: 16px;
  color: #fff;
}

.card .fear {
  margin-bottom: 3px;
}

.card .fear__text {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 500;
}

.card .fear__icons :not(:first-child) {
  margin-left: -2px;
}

.card .difficulty {
  margin-bottom: 12px;
}

.card .difficulty__text {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 500;
}

.card .difficulty__icons :not(:first-child) {
  margin-left: -2px;
}

.card__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.card__buttons a {
  text-transform: uppercase;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.card__order {
  color: #101010;
  background-color: #fff;
  border: 1px solid #fff;
}

.card__order:hover {
  box-shadow: 0px 4px 14px rgba(104, 139, 16, 0.6);
}

.card__order:active {
  background-color: #f9bf30;
  box-shadow: none;
  border: 1px solid #f9bf30;
}

.card__info {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.card__info:hover {
  color: #f9bf30;
  border: 1px solid #f9bf30;
}

.card__info:active {
  color: #fff;
  border: 1px solid #fff;
}

.difficulty__text {
  margin-bottom: 4px;
}

.fear__text {
  margin-bottom: 4px;
}

body.home .hero {
  position: relative;
}

body.home .hero__image {
  position: relative;
}

body.home .hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

body.home .hero .hero__swiper-cards {
  pointer-events: none;
}

body.home .hero .hero__swiper-cards .swiper-slide {
  pointer-events: all;
  transition: transform 0.3s ease;
}

body.home .hero .hero__swiper-cards .swiper-slide-active {
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 14px rgba(69, 95, 46, 0.4);
}

body.home .hero .card-slide {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.home .hero .card-slide_green {
  background-color: #9ad018;
}

body.home .hero .card-slide_orange {
  background-color: #feb800;
}

body.home .hero .card-slide__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.home .hero .card-slide__image img {
  transition: all 0.3s ease;
}

body.home .hero .card-slide__title {
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

body.home .cards__container {
  padding-left: 3.2%;
  padding-right: 3.2%;
}

body.home .benefits {
  width: 100%;
  max-width: 100%;
  background: url("@img/gallery/benefits-backgrond.webp") no-repeat center;
  min-height: 566px;
  background-size: cover;
}

body.home .benefits__container-wrap {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84));
  height: 100%;
  min-height: 566px;
}

body.home .benefits__container {
  max-width: 1250px;
  margin: 0 auto;
}

body.home .benefits__wrap {
  padding: 9.8% 2% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.home .benefits__title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 11px;
}

body.home .benefits__par {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #90c75e;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 40px;
}

body.home .benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2em;
  row-gap: 2.4em;
}

body.home .benefits__item {
  position: relative;
  text-align: center;
}

body.home .benefits__item svg {
  width: 34px;
  height: 34px;
}

body.home .benefits__item svg ellipse {
  stroke: #9ad018;
}

body.home .benefits__item svg path {
  fill: #9ad018;
}

body.home .benefits__text {
  font-weight: 400;
  color: #90c75e;
  font-size: 14px;
  line-height: 20px;
  padding-top: 11px;
}

body.home .benefits__item:nth-child(1) .benefits__text {
  padding-top: 20px;
}

body.home .benefits__item:nth-child(2) svg {
  width: 34px;
  height: 34px;
}

body.home .benefits__item:nth-child(2) svg ellipse {
  stroke: #9ad018;
}

body.home .benefits__item:nth-child(2) svg path {
  fill: #9ad018;
}

body.home .benefits__item:nth-child(2) .benefits__text {
  padding-top: 20px;
}

body.home .benefits__item:nth-child(3) {
  padding-top: 5px;
}

body.home .benefits__item:nth-child(3) .benefits__text {
  width: 78%;
  margin: 0 auto;
}

body.home .benefits__item:nth-child(3) svg {
  width: 30px;
  height: 30px;
}

body.home .benefits__item:nth-child(3) svg path {
  stroke: rgb(144, 199, 94);
}

body.home .benefits__item:nth-child(4) {
  padding-top: 2px;
}

body.home .benefits__item:nth-child(5) {
  padding-top: 1px;
}

body.home .benefits__item:nth-child(5) img {
  margin-bottom: 8px;
}

body.home .benefits__item:nth-child(5) .benefits__text {
  width: 90%;
  margin: 0 auto;
}

body.home .benefits__item:nth-child(6) {
  padding-top: 1px;
}

body.home .benefits__item:nth-child(6) img {
  margin-bottom: 8px;
}

body.home .benefits__item:nth-child(6) .benefits__text {
  width: 90%;
  margin: 0 auto;
}

body.home .for-u {
  width: 100%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

body.home .for-u__container {
  margin: 0 auto;
  max-width: 1700px;
}

body.home .for-u__wrap {
  display: flex;
  flex-direction: column;
}

body.home .for-u__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  align-self: center;
  margin-bottom: 23px;
}

body.home .for-u__picture {
  width: 100%;
  position: relative;
  padding-bottom: 61%;
  margin-bottom: 24px;
}

body.home .for-u__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
}

body.home .for-u__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

body.home .for-u__link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgb(144, 199, 94);
  width: -moz-max-content;
  width: max-content;
}

body.home .reviews {
  padding: 80px 0;
  background-image: url(../../img/reviews-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body.home .reviews__container {
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 3.2%;
  padding-right: 3.2%;
}

body.home .reviews__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}

body.home .reviews__slider {
  position: relative;
}

body.home .reviews__slide {
  background-color: #fff;
  min-height: 360px;
}

body.home .reviews__head {
  padding: 30.5px 6.2678062678%;
  border-bottom: 1px solid #d9d9d9;
}

body.home .reviews__head-suptitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #101010;
  margin-bottom: 10px;
}

body.home .reviews__head-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #101010;
  max-width: 370px;
  width: 100%;
}

body.home .reviews__wrap {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

body.home .reviews__wrap .reviews__body {
  padding: 12px 0 24px 22px;
  max-width: 58.4%;
}

body.home .reviews__wrap .reviews__body-name {
  font-size: 16px;
  line-height: 20px;
}

body.home .reviews__wrap .reviews__body-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}

body.home .reviews__body {
  padding: 12px 22px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.home .reviews__body--video {
  padding: 0;
  position: relative;
  width: 100%;
  padding-bottom: 271px;
  display: block;
}

body.home .reviews__body--video::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-image: url(../../img/icons/play.svg);
}

body.home .reviews__body--video img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center -120px;
  object-position: center -120px;
}

body.home .reviews__body--video .reviews__body-name {
  color: #fff;
  position: absolute;
  left: 22px;
  top: 24px;
}

body.home .reviews__body--video .reviews__footer {
  position: absolute;
  bottom: 24px;
  left: 22px;
}

body.home .reviews__body--video .reviews__footer-date {
  color: #fff;
  opacity: 0.6;
}

body.home .reviews__body-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #101010;
  margin-bottom: 12px;
}

body.home .reviews__body-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

body.home .reviews__body-text--margin {
  margin-bottom: 40px;
}

body.home .reviews__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.home .reviews__footer-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101010;
  opacity: 0.4;
  margin-top: auto;
}

body.home .reviews__footer-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #90c75e;
}

body.home .reviews__img {
  position: relative;
  width: 100%;
  padding-bottom: 271px;
}

body.home .reviews__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
}

body.home .reviews__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  max-width: 192px;
  margin: 0 auto;
  margin-top: 24px;
}

body.home .reviews__prev,
body.home .reviews__next {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.home .reviews__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.home .reviews .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(144, 199, 94, 0.2);
}

body.home .reviews .swiper-pagination-bullet-active {
  background: #90c75e;
}

body.home .blog {
  width: 100%;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

body.home .blog__container {
  margin: 0 auto;
  max-width: 1700px;
}

body.home .blog__wrap {
  display: flex;
  flex-direction: column;
  padding: 21.5% 3.2% 1%;
}

body.home .blog__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

body.home .blog__title {
  color: rgb(16, 16, 16);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

body.home .blog__link-pic {
  position: relative;
}

body.home .blog__link-pic svg {
  position: absolute;
  right: 4px;
  top: 1px;
  bottom: 0;
  margin: auto 0;
  width: 15px;
  height: 10px;
}

body.home .blog__link {
  color: rgb(144, 199, 94);
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding-right: 45px;
}

body.home .blog__par {
  margin-bottom: 12px;
}

body.home .blog__par-text {
  font-weight: 700;
  color: rgb(16, 16, 16);
  font-size: 18px;
  line-height: 24px;
}

body.home .blog__text {
  margin-bottom: 12px;
}

body.home .blog__picture {
  width: 100%;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
  margin-bottom: 12px;
}

body.home .blog__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1.08);
}

body.home .blog__text {
  color: rgb(16, 16, 16);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

body.home .blog__text-link {
  font-weight: 500;
  color: rgb(144, 199, 94);
}

@media (min-width: 350px) {
  body.home .reviews__body--video {
    padding-bottom: 250px;
  }

  body.home .reviews__img {
    padding-bottom: 250px;
  }
}

@media (min-width: 375px) {
  .footer-top__contacts h5 {
    white-space: nowrap;
  }
}

@media (min-width: 400px) {
  body.home .benefits__item:nth-child(6) br {
    display: none;
  }
}

@media (min-width: 744px) {
  body.home .benefits {
    min-height: 436px;
  }

  body.home .benefits__container-wrap {
    min-height: 436px;
    height: 100%;
  }

  body.home .benefits__wrap {
    padding: 5.5% 2% 1%;
  }

  body.home .benefits__title {
    width: 60%;
  }

  body.home .benefits__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    row-gap: 2.4em;
    padding: 0 2%;
  }

  body.home .benefits__item:nth-child(1) {
    padding-top: 8px;
  }

  body.home .benefits__item:nth-child(2) {
    order: 3;
    padding-top: 8px;
  }

  body.home .benefits__item:nth-child(3) .benefits__text {
    width: 58%;
    padding-top: 13px;
  }

  body.home .benefits__item:nth-child(3) {
    order: 1;
    padding-top: 0;
  }

  body.home .benefits__item:nth-child(4) {
    order: 8;
  }

  body.home .benefits__item:nth-child(4) .benefits__text {
    width: 77%;
    margin: 0 auto;
  }

  body.home .benefits__item:nth-child(5) img {
    margin-bottom: 0;
  }

  body.home .benefits__item:nth-child(5) {
    order: 9;
  }

  body.home .benefits__item:nth-child(6) img {
    margin-bottom: 0;
  }

  body.home .benefits__item:nth-child(6) .benefits__text {
    width: 77%;
  }

  body.home .benefits__item:nth-child(6) {
    order: 10;
  }

  body.home .for-u__title {
    align-self: flex-start;
  }

  body.home .for-u__picture {
    width: 51.3%;
    padding-bottom: 31.3%;
    margin-bottom: 16px;
  }

  body.home .for-u__text {
    margin-bottom: 16px;
  }

  body.home .blog__wrap {
    padding: 8.3% 4% 1%;
  }

  body.home .blog__block {
    margin-bottom: 23px;
  }

  body.home .blog__link-pic svg {
    top: -3px;
    width: 16px;
    height: 11px;
  }

  body.home .blog__par {
    margin-bottom: 24px;
  }

  body.home .blog__text {
    margin-bottom: 24px;
  }

  body.home .blog__picture {
    padding-left: 0.1%;
    width: 51.3%;
    padding-bottom: 28.6%;
    margin-bottom: 16px;
  }

  body.home .blog__text {
    width: 98%;
  }

  body.home .blog__text-link {
    padding-left: 0;
    border-bottom: 1px solid rgb(144, 199, 94);
  }
}

@media (min-width: 769px) {
  .header-action li:hover a:after {
    width: 100%;
  }

  .header-action li a {
    display: block;
    position: relative;
  }

  .header-action li a:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 1px;
    background: #000;
    transition: all 0.3s ease;
  }

  .burger {
    display: none;
  }

  .card__preview .card__about li :first-child {
    flex: 0 0 24px;
    height: 24px;
  }

  .card__text {
    font-size: 0.875rem;
    line-height: 1.25;
  }

  body.home .hero__image {
    padding-bottom: 34.375%;
  }

  body.home .hero .hero__swiper-cards {
    padding-bottom: 13px;
    padding-top: 95px;
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active {
    transform: scale(1.13, 1.3);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active img {
    transform: scale(0.885, 0.7692);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active .card-slide__title {
    transform: scale(0.885, 0.7692);
  }

  body.home .cards__container {
    padding-top: 24px;
  }
}

@media (min-width: 900px) {
  .cards__wrapper {
    gap: 20px;
  }
}

@media (min-width: 1000px) {
  .cards__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }

  body.home .hero .hero__swiper-cards {
    position: absolute;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  body.home .cards__container {
    padding-top: 70px;
  }
}

@media (min-width: 1400px) {
  body.home .hero .hero__swiper-cards {
    padding-left: 14.0625%;
    padding-right: 14.0625%;
  }

  body.home .cards__container {
    padding-left: 14.0625%;
    padding-right: 14.0625%;
  }
}

@media (min-width: 1600px) {
  .card:hover .card__preview {
    padding-top: 62px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  .card__title {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .card__body {
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 79px;
    padding-bottom: 36px;
  }

  body.home .hero .card-slide {
    height: 164px;
  }

  body.home .hero .card-slide__image img {
    width: 130px;
    height: 130px;
  }

  body.home .hero .card-slide__title {
    font-size: 1.625rem;
    line-height: 1.25;
  }
}

@media (min-width: 1920px) {
  body.home .benefits {
    min-height: 762px;
  }

  body.home .benefits__container-wrap {
    min-height: 762px;
  }

  body.home .benefits__wrap {
    padding: 9.6% 2% 1%;
  }

  body.home .benefits__title {
    font-size: 36px;
    line-height: 44px;
    width: 100%;
    margin-bottom: 40px;
  }

  body.home .benefits__par {
    font-size: 28px;
    line-height: 34px;
  }

  body.home .benefits__list {
    padding: 0;
    gap: 5em;
    row-gap: 2.4em;
  }

  body.home .benefits__item svg {
    width: 64px;
    height: 64px;
  }

  body.home .benefits__text {
    font-size: 24px;
    line-height: 32px;
  }

  body.home .benefits__item:nth-child(1) {
    padding-top: 0;
  }

  body.home .benefits__item:nth-child(2) svg {
    width: 64px;
    height: 64px;
  }

  body.home .benefits__item:nth-child(2) {
    padding-top: 0;
  }

  body.home .benefits__item:nth-child(3) .benefits__text {
    width: 100%;
    padding-top: 24px;
  }

  body.home .benefits__item:nth-child(3) svg {
    width: 57px;
    height: 57px;
  }

  body.home .benefits__item:nth-child(3) {
    order: 4;
    padding-top: 3px;
  }

  body.home .for-u__wrap {
    padding: 7.1% 1.2% 7.1% 9.4%;
    display: grid;
    grid-template-columns: 1fr 53.9%;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }

  body.home .for-u__title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 44px;
    transform: translate(0, -1%);
  }

  body.home .for-u__picture {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/4;
    margin-bottom: 0;
    padding-bottom: 60.9%;
  }

  body.home .for-u__text {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 22px;
    width: 81%;
  }

  body.home .for-u__link {
    grid-column: 1/2;
  }

  body.home .blog__wrap {
    padding: 4.7% 2% 1% 1.2%;
  }

  body.home .blog__block {
    margin-bottom: 40px;
  }

  body.home .blog__title {
    font-size: 36px;
    line-height: 44px;
  }

  body.home .blog__link-pic svg {
    width: 20px;
    height: 15px;
    right: -6px;
  }

  body.home .blog__link {
    font-size: 18px;
    line-height: 24px;
    padding-right: 48px;
  }

  body.home .blog__content {
    display: grid;
    grid-template-columns: 41.3% 1fr;
    gap: 1em;
    -moz-column-gap: 10em;
    column-gap: 10em;
  }

  body.home .blog__par-wrap {
    grid-row: 1/2;
  }

  body.home .blog__par {
    margin-bottom: 0;
  }

  body.home .blog__par-text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }

  body.home .blog__text {
    margin-bottom: 0;
  }

  body.home .blog__picture {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    padding-bottom: 55.7%;
    margin-bottom: 0;
  }

  body.home .blog__text {
    font-size: 16px;
    line-height: 22px;
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 67%;
  }

  body.home .blog__text-link {
    padding-left: 5px;
  }
}

@media (max-width: 899px) {
  .cards__wrapper {
    gap: 9px;
  }
}

@media (max-width: 768px) {
  .header__body {
    min-height: 132px;
  }

  .card__preview .card__about li :first-child {
    flex: 0 0 20px;
    height: 20px;
  }

  .card__text {
    font-size: 0.75rem;
    line-height: 1.25;
  }

  body.home .hero__image {
    padding-bottom: 37.3333333333%;
  }

  body.home .hero .hero__swiper-cards {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 13px;
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active {
    transform: scale(1.196, 1.316);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active img {
    transform: scale(1.1148, 1.0132);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active .card-slide__title {
    letter-spacing: -0.03em;
  }

  body.home .hero .card-slide {
    height: 76px;
  }

  body.home .hero .card-slide__image img {
    width: 48px;
    height: 48px;
  }

  body.home .cards__container {
    padding-top: 10px;
  }
}

@media (max-width: 743px) {
  body.home .for-u__wrap {
    padding: 21.7% 3.3% 21.3%;
  }
}

@media (max-width: 568px) {
  .card:nth-child(4),
  .card:nth-child(5),
  .card:nth-child(6) {
    display: none;
  }
}

@media (max-width: 468px) {
  body.home .hero .hero__swiper-cards .swiper-slide-prev .card-slide__title {
    margin-left: -40px;
  }

  body.home .hero .hero__swiper-cards .swiper-slide-next .card-slide__title {
    margin-right: -40px;
  }
}

@media (max-width: 374px) {
  .card__title {
    font-size: 0.75rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide__title {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}

@media (min-width: 568px) and (max-width: 991px) {
  .card:nth-child(5),
  .card:nth-child(6) {
    display: none;
  }
}

@media (max-width: 999px) and (min-width: 300px) {
  .card:hover .card__preview {
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card__body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1000px) and (max-width: 1599px) {
  .card:hover .card__preview {
    padding: 30px;
  }

  .card__body {
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) and (min-width: 375px) {
  .card__title {
    font-size: 0.875rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide__title {
    font-size: 0.875rem;
    line-height: 1.25;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .card__title {
    font-size: 1rem;
    line-height: 1.25;
  }

  body.home .hero .hero__swiper-cards {
    margin-top: -95px;
  }

  body.home .hero .card-slide {
    height: 90px;
  }

  body.home .hero .card-slide__image img {
    width: 60px;
    height: 60px;
  }

  body.home .hero .card-slide__title {
    font-size: 1.0625rem;
    line-height: 1.25;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .card__title {
    font-size: 1.125rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide {
    height: 110px;
  }

  body.home .hero .card-slide__image img {
    width: 75px;
    height: 75px;
  }

  body.home .hero .card-slide__title {
    font-size: 1.25rem;
    line-height: 1.25;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .card__title {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide {
    height: 120px;
  }

  body.home .hero .card-slide__image img {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .card__title {
    font-size: 1.375rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide {
    height: 140px;
  }

  body.home .hero .card-slide__image img {
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  body.home .hero .card-slide__title {
    font-size: 1.375rem;
    line-height: 1.25;
  }
}

@media (min-width: 744px) and (max-width: 1919px) {
  body.home .benefits__par {
    margin-bottom: 42px;
  }

  body.home .for-u__wrap {
    padding: 8.2% 4% 8%;
  }
}

@media (min-width: 425px) and (max-width: 743px) {
  body.home .blog__picture img {
    transform: scale(1);
  }
}