@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
b,
i,
ol,
ul,
li,
form,
aside,
footer,
header,
menu,
nav,
section,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: inherit;
}

input::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus {
  outline: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.footer__container,
.header__container {
  padding-left: 3.2%;
  padding-right: 3.2%;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ingame";
  src: url("../fonts/ingame.ttf?geesjz") format("truetype"), url("../fonts/ingame.woff?geesjz") format("woff"), url("../fonts/ingame.svg?geesjz#ingame") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ingame" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar:before {
  content: "\e900";
}

.cart:before {
  content: "\e901";
}

.eye:before {
  content: "\e902";
}

.facebook:before {
  content: "\e903";
  color: #90c75e;
}

.genre:before {
  content: "\e904";
  color: #fff;
}

.genre-ask:before {
  content: "\e905";
  color: #fff;
}

.heart:before {
  content: "\e906";
  color: #9acf16;
}

.instagram:before {
  content: "\e907";
  color: #90c75e;
}

.lightning:before {
  content: "\e908";
  color: #fff;
}

.location:before {
  content: "\e909";
  color: #9acf16;
}

.lock:before {
  content: "\e90a";
  color: #9acf16;
}

.logo .path1:before {
  content: "\e90b";
  color: rgb(16, 16, 16);
}

.logo .path2:before {
  content: "\e90c";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path3:before {
  content: "\e90d";
  margin-left: -3.9375em;
  color: rgb(154, 207, 22);
}

.logo .path4:before {
  content: "\e90e";
  margin-left: -3.9375em;
  color: rgb(154, 207, 22);
}

.logo .path5:before {
  content: "\e90f";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path6:before {
  content: "\e910";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path7:before {
  content: "\e911";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path8:before {
  content: "\e912";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path9:before {
  content: "\e913";
  margin-left: -3.9375em;
  color: rgb(154, 207, 22);
}

.logo .path10:before {
  content: "\e914";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path11:before {
  content: "\e915";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.logo .path12:before {
  content: "\e916";
  margin-left: -3.9375em;
  color: rgb(16, 16, 16);
}

.phone:before {
  content: "\e917";
  color: #fff;
}

.phone-stroke:before {
  content: "\e918";
}

.play:before {
  content: "\e919";
  color: #9acf16;
}

.pulse:before {
  content: "\e91a";
  color: #fff;
}

.puzzle-fill:before {
  content: "\e91b";
  color: #fff;
}

.puzzle-stroke:before {
  content: "\e91c";
  color: #fff;
}

.telegram:before {
  content: "\e91d";
  color: #fff;
}

.trash:before {
  content: "\e91e";
}

.triangle:before {
  content: "\e91f";
  color: #9acf16;
}

.wallet:before {
  content: "\e920";
}

.watch:before {
  content: "\e921";
}

.youtube:before {
  content: "\e922";
  color: #90c75e;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  background-color: grey;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.header {
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.header__body {
  min-height: 216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.header__logo {
  z-index: 2;
  font-size: 1.875rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header-action {
  flex: 1 1 auto;
  max-width: 150px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.header-action li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-action li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* 
    &:hover .burger__wrapper {
       span,
       &:before,
       &:after {
          background-color: orange; 
       }
    }
  */
}

.burger:hover {
  transform: scale(1.2);
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  animation: burgerTopDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translateY(-150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 100%;
    transform: translateY(-300%);
  }
}

.burger.active .burger__wrapper:before {
  animation: burgerTopActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translateY(-150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  animation: burgerBottomActive 0.7s ease 0s 1;
  animation-fill-mode: forwards;
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translateY(0);
  }

  50% {
    top: 50%;
    transform: translateY(-50%);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translateY(-300%);
  }

  50% {
    top: 50%;
    transform: translateY(-250%);
  }

  100% {
    top: 50%;
    transform: translateY(-250%) rotate(45deg);
  }
}

.pop-up {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.pop-up.active {
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 200px;
}

.pop-up__body {
  overflow: auto;
  max-height: 100%;
  background-color: rgba(233, 233, 233, 0.33);
  padding: 50px;
}

.pop-up__body p {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #fff;
}

.spoiler {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(180deg);
}

.btn {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  background-color: rgb(111, 56, 199);
  width: 100px;
  height: 40px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover:after {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn:active:after {
  background-color: rgba(255, 255, 255, 0.15);
}

.btn.modify {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
}

.card {
  box-shadow: 0px 4px 24px rgba(94, 135, 15, 0.6);
}

.card__wrapper {
  position: relative;
}

.card__image {
  position: relative;
  height: 100%;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card:hover .card__content {
  border-left: 4px solid rgba(153, 208, 24, 0.9);
  border-right: 4px solid rgba(153, 208, 24, 0.9);
  border-bottom: 4px solid rgba(153, 208, 24, 0.9);
  top: 0;
  height: 100% !important;
  transform: translateY(0) !important;
}

.card:hover .card__content:before {
  background-color: #9ad018;
  opacity: 0.9;
}

.card:hover .card__preview {
  color: #fff;
}

.card:hover .card__preview .card__about {
  display: none;
}

.card:hover .card__title {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  margin-bottom: 4px;
}

.card:hover .card__text {
  font-size: 0.875rem;
  line-height: 1.25;
}

.card:hover .card__body-wrapper {
  height: auto;
}

.card__content {
  overflow: hidden;
  border-left: 4px solid #9ad018;
  border-right: 4px solid #9ad018;
  border-bottom: 4px solid #9ad018;
  transition: all 0.5s ease;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 0;
  transition: all 0.5s ease;
  opacity: 1;
}

.card__preview {
  position: relative;
  z-index: 1;
  color: #101010;
  display: flex;
  justify-content: space-between;
}

.card__preview > div {
  flex: 0 0 50%;
}

.card__preview .card__about {
  padding-top: 4px;
  display: grid;
  row-gap: 7px;
}

.card__preview .card__about li {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.card__preview .card__about li:nth-child(2) :first-child {
  align-self: flex-start;
}

.card__preview .card__about li:nth-child(2) span {
  display: inline-block;
  margin-bottom: 3px;
}

.card__preview .card__about li span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  font-size: 14px;
}

.card__preview .card__about li p {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
}

.card__preview .card__about li:last-child {
  padding-top: 3px;
}

.card__preview .card__about li:last-child i {
  padding-left: 2px;
  font-size: 1.125rem;
  line-height: 1.25;
}

.card__preview .card__about li:last-child p {
  font-family: "PTSans", sans-serif;
}

.card__title {
  padding-top: 3px;
  font-weight: 700;
  margin-bottom: 6px;
}

.card__body-wrapper {
  overflow: hidden;
  height: 0;
}

.card__body-wrapper .card__about {
  display: grid;
  row-gap: 13px;
  margin-bottom: 15px;
}

.card__body-wrapper .card__about li {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
  column-gap: 6px;
}

.card__body-wrapper .card__about li:first-child {
  transform: translateY(2px);
}

.card__body-wrapper .card__about li:first-child ellipse {
  stroke: #fff;
}

.card__body-wrapper .card__about li:first-child path {
  fill: #fff;
}

.card__body-wrapper .card__about li:nth-child(2) {
  transform: translateY(-2px);
}

.card__body-wrapper .card__about li:nth-child(2) circle {
  stroke: #fff;
}

.card__body-wrapper .card__about li:nth-child(2) path {
  fill: #fff;
}

.card__body-wrapper .card__about li:nth-child(2) :first-child {
  align-self: flex-start;
}

.card__body-wrapper .card__about li:nth-child(2) span {
  display: inline-block;
}

.card__body-wrapper .card__about li:last-child svg {
  stroke: #fff;
}

.card__body-wrapper .card__about li :first-child {
  flex: 0 0 24px;
  height: 24px;
}

.card__body-wrapper .card__about li span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li p {
  font-weight: 500;
}

.card__body-wrapper .card__about li p:first-of-type {
  font-size: 0.875rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li p:last-of-type {
  font-size: 0.75rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li:last-child {
  padding-top: 3px;
}

.card__body-wrapper .card__about li:last-child i {
  padding-left: 2px;
  font-size: 1.125rem;
  line-height: 1.25;
}

.card__body-wrapper .card__about li:last-child p {
  font-family: "PTSans", sans-serif;
}

.card__body {
  position: relative;
  z-index: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 27px;
  color: #fff;
}

.card .fear {
  margin-bottom: 3px;
}

.card .fear__text {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 500;
}

.card .fear__icons :not(:first-child) {
  margin-left: -2px;
}

.card .difficulty {
  margin-bottom: 12px;
}

.card .difficulty__text {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 500;
}

.card .difficulty__icons :not(:first-child) {
  margin-left: -2px;
}

.card__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.card__buttons a {
  text-transform: uppercase;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.card__order {
  color: #101010;
  background-color: #fff;
  border: 1px solid #fff;
}

.card__order:hover {
  box-shadow: 0px 4px 14px rgba(104, 139, 16, 0.6);
}

.card__order:active {
  background-color: #f9bf30;
  box-shadow: none;
  border: 1px solid #f9bf30;
}

.card__info {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.card__info:hover {
  color: #f9bf30;
  border: 1px solid #f9bf30;
}

.card__info:active {
  color: #fff;
  border: 1px solid #fff;
}

.difficulty__text {
  margin-bottom: 4px;
}

.fear__text {
  margin-bottom: 4px;
}

body.home .hero {
  position: relative;
}

body.home .hero .banner-slide__image {
  position: relative;
}

body.home .hero .banner-slide__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

body.home .hero .banner-slide__image:last-child img {
  -o-object-position: center 90%;
  object-position: center 90%;
}

body.home .hero .hero__swiper-cards {
  pointer-events: none;
}

body.home .hero .hero__swiper-cards .swiper-slide {
  pointer-events: all;
  transition: transform 0.3s ease;
}

body.home .hero .hero__swiper-cards .swiper-slide-active {
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 14px rgba(69, 95, 46, 0.4);
}

body.home .hero .card-slide {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.home .hero .card-slide_green {
  background-color: #9ad018;
}

body.home .hero .card-slide_orange {
  background-color: #feb800;
}

body.home .hero .card-slide__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.home .hero .card-slide__image img {
  transition: all 0.3s ease;
}

body.home .hero .card-slide__title {
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

body.home .cards__container {
  padding-left: 3.2%;
  padding-right: 3.2%;
}

@media (min-width: 600px) {
  .cards__wrapper {
    gap: 12px;
  }
}

@media (min-width: 769px) {
  .header-action li:hover a:after {
    width: 100%;
  }

  .header-action li a {
    display: block;
    position: relative;
  }

  .header-action li a:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 1px;
    background: #000;
    transition: all 0.3s ease;
  }

  .burger {
    display: none;
  }

  .card:hover .card__preview {
    padding-top: 14.5px;
    padding-bottom: 15.5px;
    padding-left: 24px;
    padding-right: 70px;
  }

  .card__preview {
    padding-top: 14.5px;
    padding-bottom: 15.5px;
    padding-left: 24px;
    padding-right: 70px;
  }

  .card__preview .card__about li :first-child {
    flex: 0 0 24px;
    height: 24px;
  }

  .card__text {
    font-size: 0.875rem;
    line-height: 1.25;
  }

  body.home .hero .banner-slide__image {
    padding-bottom: 34.375%;
  }

  body.home .hero .hero__swiper-cards {
    padding-bottom: 13px;
    padding-top: 95px;
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active {
    transform: scale(1.13, 1.3);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active img {
    transform: scale(0.885, 0.7692);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active .card-slide__title {
    transform: scale(0.885, 0.7692);
  }
}

@media (min-width: 900px) {
  .cards__wrapper {
    gap: 20px;
  }

  .card__image {
    padding-bottom: 136.3228699552%;
  }
}

@media (min-width: 1000px) {
  body.home .hero .hero__swiper-cards {
    position: absolute;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  body.home .cards__container {
    padding-top: 75px;
  }
}

@media (min-width: 1400px) {
  body.home .hero .hero__swiper-cards {
    padding-left: 14.0625%;
    padding-right: 14.0625%;
  }
}

@media (min-width: 1600px) {
  .card__title {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide {
    height: 164px;
  }

  body.home .hero .card-slide__image img {
    width: 130px;
    height: 130px;
  }

  body.home .hero .card-slide__title {
    font-size: 1.625rem;
    line-height: 1.25;
  }
}

@media (max-width: 768px) {
  .header__body {
    min-height: 132px;
  }

  .card:hover .card__preview {
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 24px;
    padding-right: 20px;
  }

  .card__preview {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 13px;
    padding-right: 20px;
  }

  .card__preview .card__about li :first-child {
    flex: 0 0 20px;
    height: 20px;
  }

  .card__text {
    font-size: 0.75rem;
    line-height: 1.25;
  }

  body.home .hero .banner-slide__image {
    padding-bottom: 37.3333333333%;
  }

  body.home .hero .hero__swiper-cards {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 13px;
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active {
    transform: scale(1.196, 1.316);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active img {
    transform: scale(1.1148, 1.0132);
  }

  body.home .hero .hero__swiper-cards .swiper-slide-active .card-slide__title {
    letter-spacing: -0.03em;
  }

  body.home .hero .card-slide {
    height: 76px;
  }

  body.home .hero .card-slide__image img {
    width: 48px;
    height: 48px;
  }

  body.home .cards__container {
    padding-top: 10px;
  }
}

@media (max-width: 599px) {
  .cards__wrapper {
    gap: 9px;
  }
}

@media (max-width: 468px) {
  body.home .hero .hero__swiper-cards .swiper-slide-prev .card-slide__title {
    margin-left: -40px;
  }

  body.home .hero .hero__swiper-cards .swiper-slide-next .card-slide__title {
    margin-right: -40px;
  }
}

@media (max-width: 374px) {
  .card__image {
    padding-bottom: 161.4864864865%;
  }

  .card__title {
    font-size: 0.75rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide__title {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}

@media (max-width: 599px) and (min-width: 375px) {
  .card__image {
    padding-bottom: 136.1823361823%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .card__image {
    padding-bottom: 162.3931623932%;
  }
}

@media (max-width: 768px) and (min-width: 375px) {
  .card__title {
    font-size: 0.875rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide__title {
    font-size: 0.875rem;
    line-height: 1.25;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .card__title {
    font-size: 1rem;
    line-height: 1.25;
  }

  body.home .hero .hero__swiper-cards {
    margin-top: -95px;
  }

  body.home .hero .card-slide {
    height: 90px;
  }

  body.home .hero .card-slide__image img {
    width: 60px;
    height: 60px;
  }

  body.home .hero .card-slide__title {
    font-size: 1.0625rem;
    line-height: 1.25;
  }

  body.home .cards__container {
    padding-top: 24px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .card__title {
    font-size: 1.125rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide {
    height: 110px;
  }

  body.home .hero .card-slide__image img {
    width: 75px;
    height: 75px;
  }

  body.home .hero .card-slide__title {
    font-size: 1.25rem;
    line-height: 1.25;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .card__title {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide {
    height: 120px;
  }

  body.home .hero .card-slide__image img {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .card__title {
    font-size: 1.375rem;
    line-height: 1.25;
  }

  body.home .hero .card-slide {
    height: 140px;
  }

  body.home .hero .card-slide__image img {
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  body.home .hero .card-slide__title {
    font-size: 1.375rem;
    line-height: 1.25;
  }
}