.faq {
   &__container {
      padding-left: percent(12, 375);
      padding-right: percent(12, 375);
      @media (min-width: 744px) and (max-width: 1399px) {
         padding-left: percent(30, 744);
         padding-right: percent(30, 744);
         max-width: 1100px;
         width: 100%;
         margin: 0 auto;
      }
      @media (max-width: 999px) {
         padding-top: 60px;
         // padding-bottom: 60px;
      }
      @media (min-width: 1000px) {
         padding-top: percent(120, 1920);
         padding-bottom: 30px;
      }
      @media (min-width: 1400px) {
         padding-left: percent(410, 1920);
         padding-right: percent(410, 1920);
      }
   }
   &__title {
      font-weight: 700;
      @include fl(24, 30);
      color: $dark;
      text-align: center;
      padding-bottom: 24px;
      border-bottom: 1px solid #d9d9d9;
      @media (min-width: 600px) {
         text-align: left;
      }
      @media (min-width: 800px) and (max-width: 999px) {
         @include fl(26, 32);
      }
      @media (min-width: 1000px) {
         padding-bottom: percent(80, 1100);
         text-align: center;
      }
      @media (min-width: 1400px) {
         @include fl(36, 44);
      }
   }
   &__wrap {
      @media (max-width: 999px) {
         padding-top: 12px;
      }
      @media (min-width: 1000px) {
         padding-top: 24px;
      }
      padding-bottom: 2px;
      border-bottom: 1px solid #d9d9d9;
      cursor: pointer;
      transition: all 0.8s ease;
      &[open] {
         .faq__head {
            &::after {
               transform: rotate(0deg);
            }
         }
      }
   }
   &__head {
      @media (max-width: 999px) {
         padding-bottom: 34px;
      }
      @media (min-width: 1000px) {
         padding-bottom: 22px;
      }
      @include fl(16, 22);
      font-weight: 700;
      position: relative;
      list-style: none;
      &::after {
         position: absolute;
         content: "";
         width: 16px;
         height: 8px;
         background: url(../../img/icons/arrow-top.svg) no-repeat / cover;
         right: 0;
         top: 8px;
         transform: rotate(180deg);
         transition: all 0.5s ease;
      }
      @media (min-width: 1000px) {
         @include fl(24, 32);
      }
   }
   &__content {
      @include fl(14, 20);
      transition: all 0.5s ease;
      margin-bottom: 22px;
   }
}
