<div class="cards__wrapper swiper-wrapper">
	<div class="swiper-slide cards__slide">
		@@include('./_card.html', {
		'img': '1',
		'title': '1Майнкрафт'
		})
		@@include('./_card.html', {
		'img': '2',
		'title': 'День народження в стилі супер героя'
		})
		<!--  lorem impus dolor sit amet -->
		@@include('./_card.html', {
		'img': '3',
		'title': 'Врятувати професора Харіса'
		})
		@@include('./_card.html', {
		'img': '4',
		'title': 'Write correct title'
		})
		@@include('./_card.html', {
		'img': '5',
		'title': 'Silent Hill'
		})
		@@include('./_card.html', {
		'img': '6',
		'title': 'Гаррі Поттер'
		})
	</div>
	<div class="swiper-slide cards__slide">
		@@include('./_card.html', {
		'img': '1',
		'title': '2Майнкрафт'
		})
		@@include('./_card.html', {
		'img': '2',
		'title': 'День народження в стилі супер героя'
		})
		<!--  lorem impus dolor sit amet -->
		@@include('./_card.html', {
		'img': '3',
		'title': 'Врятувати професора Харіса'
		})
		@@include('./_card.html', {
		'img': '4',
		'title': 'Write correct title'
		})
		@@include('./_card.html', {
		'img': '5',
		'title': 'Silent Hill'
		})
		@@include('./_card.html', {
		'img': '6',
		'title': 'Гаррі Поттер'
		})
	</div>
	<div class="swiper-slide cards__slide">
		@@include('./_card.html', {
		'img': '1',
		'title': '3Майнкрафт'
		})
		@@include('./_card.html', {
		'img': '2',
		'title': 'День народження в стилі супер героя'
		})
		<!--  lorem impus dolor sit amet -->
		@@include('./_card.html', {
		'img': '3',
		'title': 'Врятувати професора Харіса'
		})
		@@include('./_card.html', {
		'img': '4',
		'title': 'Write correct title'
		})
		@@include('./_card.html', {
		'img': '5',
		'title': 'Silent Hill'
		})
		@@include('./_card.html', {
		'img': '6',
		'title': 'Гаррі Поттер'
		})
	</div>
</div>