<section class="ceo">
	<div class="ceo__container">
		<div class="ceo__wrap">
			<div class="ceo__preview">
				<div class="ceo__decor"></div>
				<p class="ceo__text ceo__text1">Квест-комнаты или квесты в реальности – это
					один из самых
					молодых форматов
					отдыха в
					Украине. В 2014 году мы впервые узнали, что такое квест-комната. Этот
					невероятный
					объемный мир оказался
					настолько захватывающим, что в тот же день мы решили, что непременно станем
					его частью!
					На тот момент в
					Днепре уже было много квест-комнат. Но мы не пошли по их пути. <span
						class="ceo__text-hide">Мы нашли
						огромный подвал площадью
						140
						квадратных метров. В нем можно было открыть 3 или даже 5 обычных
						квест-комнат, но мы
						рискнули и отдали
						все пространство под один проект! Наш первый квест “Точка доступа” - это
						далеко не
						одна
						“квест-комната”
						в Днепре, это целых 11 “квест-комнат”: коридор, КПП, комната допросов,
						карцер,
						тюрьма, кабинет
						начальника штаба… И все это игрокам предстоит обнаружить и пройти за 100
						минут. И
						люди оценили нашу
						идею, поддержали нас своими многочисленными отзывами и комментариями.
						“Точка
						доступа” никого не
						оставила
						равнодушным.</span></p>
			</div>
			<div class="ceo__wrapper">
				<div class="ceo__body">
					<p class="ceo__text ceo__text2">Квест-комнаты или квесты в реальности – это
						один из
						самых молодых
						форматов
						отдыха в
						Украине. В 2014 году мы впервые узнали, что такое квест-комната. Этот
						невероятный
						объемный мир
						оказался
						настолько захватывающим, что в тот же день мы решили, что непременно
						станем его
						частью! На тот момент
						в
						Днепре уже было много квест-комнат. Но мы не пошли по их пути. Мы нашли
						огромный
						подвал площадью 140
						квадратных метров. В нем можно было открыть 3 или даже 5 обычных
						квест-комнат, но мы
						рискнули и отдали
						все пространство под один проект! Наш первый квест “Точка доступа” - это
						далеко не
						одна
						“квест-комната”
						в Днепре, это целых 11 “квест-комнат”: коридор, КПП, комната допросов,
						карцер,
						тюрьма, кабинет
						начальника штаба… И все это игрокам предстоит обнаружить и пройти за 100
						минут. И
						люди оценили нашу
						идею, поддержали нас своими многочисленными отзывами и комментариями.
						“Точка
						доступа” никого не
						оставила
						равнодушным.</p>
					<p class="ceo__text ceo__text3">Квест-комнаты или квесты в реальности – это
						один из
						самых молодых
						форматов
						отдыха в Украине. В 2014 году мы впервые узнали, что такое квест-комната.
						Этот
						невероятный объемный
						мир
						оказался настолько захватывающим, что в тот же день мы решили, что
						непременно станем
						его частью! На
						тот
						момент в Днепре уже было много квест-комнат. Но мы не пошли по их пути.
						Мы нашли
						огромный подвал
						площадью 140 квадратных метров. В нем можно было открыть 3 или даже 5
						обычных
						квест-комнат, но мы
						рискнули и отдали все пространство под один проект! Наш первый квест
						“Точка доступа”
						- это далеко не
						одна “квест-комната” в Днепре, это целых 11 “квест-комнат”: коридор, КПП,
						комната
						допросов, карцер,
						тюрьма, кабинет начальника штаба… И все это игрокам предстоит обнаружить
						и пройти за
						100 минут. И люди
						оценили нашу идею, поддержали нас своими многочисленными отзывами и
						комментариями.
						“Точка доступа”
						никого не оставила равнодушным.</p>
				</div>
			</div>
			<button class="ceo__btn">Дивитись більше</button>
		</div>
	</div>
</section>