<section class="faq">
	<div class="faq__container">
		<h2 class="faq__title">
			Частозадавані питання
		</h2>
		@@include('./_faq-spoiler.html', {
		'title': 'Заголовок першого питання',
		'text': 'Відповідь на питання'
		})
		@@include('./_faq-spoiler.html', {
		'title': 'Заголовок першого питання',
		'text': 'Відповідь на питання'
		})
		@@include('./_faq-spoiler.html', {
		'title': 'Заголовок першого питання',
		'text': 'Відповідь на питання'
		})
		@@include('./_faq-spoiler.html', {
		'title': 'Заголовок першого питання',
		'text': 'Відповідь на питання'
		})
		@@include('./_faq-spoiler.html', {
		'title': 'Заголовок першого питання',
		'text': 'Відповідь на питання'
		})
	</div>
</section>