<div class="form__block-content">
    <h3 class="form__subtitle">Заголовок з закликом купити </h3>
    <form class="form__form" action="#">
        <div class="form__wrap">
            <div class="form__field">
                <input class="form__lea" type="text" name="name" value="" placeholder="Ім’я та призвище *">
            </div>
            <div class="form__field">
                <input class="form__lea" type="tel" name="name" value="" placeholder="Номер телефону *">
            </div>
            <div class="form__field">
                <input class="form__lea" type="email" name="name" value="" placeholder="E-mail *">
            </div>
            <div class="form__field">
                <input class="form__lea-check" type="checkbox" name="name" value="" id="check">
                <label class="form__sign" for="check">Згода на обробку персональних данних</label>
            </div>
            <div class="form__btn-wrap">
                <button class="form__btn">Замовити</button>
            </div>
        </div>
    </form>
</div>