<div class="horizontal-gallery-pop-up">
	<div class="horizontal-gallery-pop-up__wrapper">
		<div class="horizontal-gallery-pop-up__icon-wrapper">
			<div class="horizontal-gallery-pop-up__icon">
				<span></span><span></span>
			</div>
		</div>
		<div class="horizontal-gallery-pop-up__body">
			<div class="horizontal-gallery">
				<div class="horizontal-gallery__big-wrap">
					@@include('./_second-nav.html', {
					'class': 'horizontal-gallery__nav-pop-up',
					'prev': 'horizontal-gallery__prev-pop-up',
					'next': 'horizontal-gallery__next-pop-up',
					'pagination': 'horizontal-gallery__pagination-pop-up',
					})
					<div class="horizontal-gallery__swiper-big-pop-up swiper slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
										<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_02.webp'>
										<img src='@img/gallery/gallery_02.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_03.webp'>
										<img src='@img/gallery/gallery_03.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_04.webp'>
										<img src='@img/gallery/gallery_04.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_05.webp'>
										<img src='@img/gallery/gallery_05.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_06.webp'>
										<img src='@img/gallery/gallery_06.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_07.webp'>
										<img src='@img/gallery/gallery_07.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_08.webp'>
										<img src='@img/gallery/gallery_08.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-big">
								<div
									class='horizontal-gallery__image-big horizontal-gallery__image-big-pop-up'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_09.webp'>
										<img src='@img/gallery/gallery_09.jpg' alt='Gallery photo'>
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="horizontal-gallery__small-wrap horizontal-gallery__small-wrap-pop-up">
					<div class="horizontal-gallery__swiper-small-pop-up swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
										<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_02.webp'>
										<img src='@img/gallery/gallery_02.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_03.webp'>
										<img src='@img/gallery/gallery_03.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_04.webp'>
										<img src='@img/gallery/gallery_04.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_05.webp'>
										<img src='@img/gallery/gallery_05.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_06.webp'>
										<img src='@img/gallery/gallery_06.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_07.webp'>
										<img src='@img/gallery/gallery_07.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_08.webp'>
										<img src='@img/gallery/gallery_08.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
							<div class="swiper-slide horizontal-gallery__slide-small">
								<div class='horizontal-gallery__image-small'>
									<picture>
										<source type='image/webp' srcset='@img/gallery/gallery_09.webp'>
										<img src='@img/gallery/gallery_09.jpg' alt='Gallery preview photo'>
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>