<div class="horizontal-gallery">
	<div class="horizontal-gallery__big-wrap">
		<div class="horizontal-gallery__swiper-big swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
							<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_02.webp'>
							<img src='@img/gallery/gallery_02.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_03.webp'>
							<img src='@img/gallery/gallery_03.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_04.webp'>
							<img src='@img/gallery/gallery_04.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_05.webp'>
							<img src='@img/gallery/gallery_05.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_06.webp'>
							<img src='@img/gallery/gallery_06.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_07.webp'>
							<img src='@img/gallery/gallery_07.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_08.webp'>
							<img src='@img/gallery/gallery_08.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-big">
					<div class='horizontal-gallery__image-big'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_09.webp'>
							<img src='@img/gallery/gallery_09.jpg' alt='Gallery photo'>
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="horizontal-gallery__small-wrap">
		<div class="horizontal-gallery__swiper-small swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
							<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_02.webp'>
							<img src='@img/gallery/gallery_02.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_03.webp'>
							<img src='@img/gallery/gallery_03.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_04.webp'>
							<img src='@img/gallery/gallery_04.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_05.webp'>
							<img src='@img/gallery/gallery_05.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_06.webp'>
							<img src='@img/gallery/gallery_06.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_07.webp'>
							<img src='@img/gallery/gallery_07.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_08.webp'>
							<img src='@img/gallery/gallery_08.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide horizontal-gallery__slide-small">
					<div class='horizontal-gallery__image-small'>
						<picture>
							<source type='image/webp' srcset='@img/gallery/gallery_09.webp'>
							<img src='@img/gallery/gallery_09.jpg' alt='Gallery preview photo'>
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>