<div class="horizontal-gallery">
	<div class="horizontal-gallery__swiper-big swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-big">
				<div class='horizontal-gallery__image-big'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery photo'>
					</picture>
				</div>
			</div>
		</div>
	</div>
	<div class="horizontal-gallery__swiper-small swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
			<div class="swiper-slide horizontal-gallery__slide-small">
				<div class='horizontal-gallery__image-small'>
					<picture>
						<source type='image/webp' srcset='@img/gallery/gallery_01.webp'>
						<img src='@img/gallery/gallery_01.jpg' alt='Gallery preview photo'>
					</picture>
				</div>
			</div>
		</div>
	</div>
</div>