<div class="pop-up">
	<div class="pop-up__wrapper">
		<div class="pop-up__body">
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
			<p>A lot of text on this string?</p>
		</div>
	</div>

</div>