<form class="propose-form">
  <input type="text" class="propose-form__input" placeholder="Ім’я та призвище *">
  <input type="tel" class="propose-form__input" placeholder="Номер телефону *">
  <input type="email" class="propose-form__input" placeholder="E-mail *">
  <textarea rows="1" type="text" class="propose-form__textarea" placeholder="Ваш коментар"></textarea>
  <fieldset class="propose-form__fieldset">
    <input type="checkbox" class="propose-form__checkbox" id="checkbox-01">
    <label class="propose-form__label" for="checkbox-01">
      Згода на обробку персональних данних
    </label>
  </fieldset>
  <button type="button" class="propose-form__btn">
    Отримати пропозицію
  </button>
</form>