<div class="@@class second-slider__nav">
	<div class="@@prev second-slider__prev">
		<svg width="8" height="16" viewBox="0 0 8 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M6.83398 0.916992L1.16732 8.00033L6.83398 15.0837" stroke="#000" fill="none"
				stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</div>
	<div class="@@pagination second-slider__pagination"></div>
	<div class="@@next second-slider__next">
		<svg width="8" height="16" viewBox="0 0 8 16" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.16602 0.916992L6.83268 8.00033L1.16602 15.0837" stroke="#000" fill="none"
				stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</div>
</div>