<div class="table-column">
	<div class="table-column__head">
		<p class="table-column__date">@@date</p>
		<p class="table-column__day">@@day</p>
	</div>
	<ul class="table-column__list">
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time1</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time2</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time3</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time4</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time5</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time6</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time7</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
		<li>
			<p class="table-column__time"><i class="watch"></i><span>@@time8</span></p>
			<p class="table-column__price"><i class="wallet"></i><span>@@price</span> </p>
			<button class="table-column__book">Забронювати</button>
		</li>
	</ul>

</div>