<section class="video-block">
	<div class="video-block__container">
		<p class="video-block__text">Ужасы с актером по сюжету фильма "Silent Hill".
			Атмосфера заброшенного детского приюта и монстр,
			который следует за вами по пятам... Вам лучше не кричать, потому что он услышит!
		</p>
		<div class='video-block__video'>

			<div class='video-block__preview'>
				<div class="video-block__icon">
					@@include('../icons/_play.html')
				</div>
				<picture>
					<source type='image/webp' srcset='@img/gallery/kids_01.webp'>
					<img src='@img/gallery/kids_01.jpg' alt='video preview'>
				</picture>
			</div>
			<video preload="none" class="first-view" controls src="@img/video.mp4"></video>
		</div>
	</div>
</section>