<section class="video-block">
	<div class="video-block__container">
		<p class="video-block__text">Ужасы с актером по сюжету фильма "Silent Hill".
			Атмосфера заброшенного детского приюта и монстр,
			который следует за вами по пятам... Вам лучше не кричать, потому что он услышит!
		</p>
		<div class='video-block__video'>
			<picture>
				<source type='image/webp' srcset='@img/gallery/kids_01.webp'>
				<img src='@img/gallery/kids_01.jpg' alt='Video preview'>
			</picture>
			<i class="play"></i>
		</div>
	</div>
</section>
<div class="myVid">
	<video controls src="@img/video.mp4"></video>
</div>
<section class="video-pop-up">
	<div class="video-pop-up__wrapper">
		<div class="video-pop-up__body">
			<div class="video-pop-up__wrap">
				<!-- <iframe src="https://www.youtube.com/embed/jeJPKkRoLzc" title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe> -->
				<video controls src="@img/video.mp4"></video>
			</div>
		</div>
	</div>
</section>